<button type="button" mat-icon-button [matMenuTriggerFor]="menu" size="small"
        [color]="model ? 'accent' : null"
        [tooltip]="'MODULE.TIMELINE.STICKY.TOOLTIP.' + (model ? 'SELECTED' : 'UNSELECTED') | translate"
        [attr.aria-label]="'MODULE.TIMELINE.STICKY.TOOLTIP.' + (model ? 'SELECTED' : 'UNSELECTED') | translate">
  <mat-icon svgIcon="pin"></mat-icon>
</button>
<mat-menu #menu="matMenu" [xPosition]="xPosition" [yPosition]="yPosition">
  <span mat-menu-title>{{'MODULE.TIMELINE.STICKY.EXPIRY.LABEL' | translate}}</span>
  <button type="button" mat-menu-item *ngFor="let option of stickyExpiryOptions | stickyOptions:model"
          [attr.aria-label]="option.label + '.ARIA' | translate"
          (click)="setSelectedSticky(option.expiry)">{{option.label | translate}}</button>
</mat-menu>
