$media-image-size: 64px;
$media-image-border-radius: 4px;

.media-widget {
  min-height: $media-image-size;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .heading {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    .description {
      color: $color-gray;
    }

    .location {
      margin-top: 20px;

      i.zmdi-pin {
        margin-right: 6px;
      }
    }
  }

  .media-tiles {
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;

    &:not(:last-child) {
      .video-cover,
      .cover-image-reference-container,
      .broken-image-placeholder {
        margin-right: 6px;
        margin-bottom: 6px;
      }
    }

    .loading {
      height: $media-image-size;
      width: $media-image-size;
      border-radius: $media-image-border-radius;

      .coyo-spinner {
        margin: 25%;
      }
    }

    .cover-image-reference-container {
      width: $media-image-size;
      height: $media-image-size;

      .picture {
        border-radius: $media-image-border-radius;
      }
    }

    .broken-image-placeholder {
      i.zmdi-broken-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $media-image-size;
        height: $media-image-size;
        border-radius: $media-image-border-radius;
        font-size: $media-image-size * 0.75;
        text-align: center;
      }

      .no-preview-text {
        display: none;
      }
    }

    .video-cover {
      width: $media-image-size;
      height: $media-image-size;
      border-radius: $media-image-border-radius;

      video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .no-previews,
  .some-previews{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $media-image-size;
    border-radius: $media-image-border-radius;
    cursor: pointer;
    text-align: center;
    background-color: $color-gray-lighter;
    color: $color-gray-dark;
  }

  .no-previews {
    width: 100%;

    .zmdi {
      font-size: 150%;
    }
  }

  .some-previews {
    width: $media-image-size;
    font-size: 133%;
  }
}