@import "variables";
@import "mixins";
:host {
  width: 100%;
  height: 100%;
}
a + a {
  margin-left: 8px;
}

@media only screen and (max-width: $screen-md) {
  a + a {
    display: inline-block;
    margin: 8px;
  }
}

.no-preview-available-text {
  color: #333333;
  opacity: .85;
  font-size: 20px;

  &:hover {
    opacity: 1;
  }
}

.file-not-accessible-text {
  color: $color-gray;
  font-size: 15px;
}

@media only screen and (min-width: $screen-md) {
  .bottom-space {
    margin-bottom: 16px;
  }
}

.top-space {
  margin-top: 16px;
}
