@import 'variables';

.filepicker-breadcrumb {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 35px;

  > div {
    height: 100%;
  }

  > .breadcrumb-item {
    white-space: nowrap;
    align-items: center;

    &:not(:first-child) {
      position: relative;
      padding-left: 24px;

      &:before {
        background-image: url(/assets/icons/icon-caret-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        content: " ";
        width: 24px;
        height: 32px;
        display: block;
        position: absolute;
        left: 0;
      }
    }

    &.current-folder {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media screen and (min-width: $screen-sm-min) {
      &.current-folder {
        color: $n600;
      }

      > a, > a:visited {
        font-size: 20px;
        color: $n200;

        &:hover, &:focus {
          color: $n600;
          text-decoration: underline;
        }
      }
    }

    coyo-context-menu {
      height: 32px;
      a {
        display: flex;
        align-items: center;

        @media screen and (min-width: $screen-sm-min) {
          max-width: 400px;
        }

        coyo-icon {
          padding-right: 16px;
        }

        span {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
