<coyo-filter title-key="{{$ctrl.titleKey}}" title-values="$ctrl.titleValues" class="$ctrl.cssClass">
  <coyo-filter-entry ng-if="!$ctrl.hideAllOption"
                     text-key="{{::$ctrl.filterModel.allItem.textKey || 'FILTER_ALL'}}"
                     icon="{{::$ctrl.allIcon}}"
                     active="$ctrl.filterModel.allItem.active"
                     on-click="$ctrl.clear()"
                     badge="$ctrl.filterModel.allItem.count"></coyo-filter-entry>
  <coyo-filter-entry ng-repeat="item in $ctrl.filterModel.items | limitTo: $ctrl.limitTo"
                     text="{{:: item.text}}"
                     text-key="{{:: $ctrl.textPrefix ? ($ctrl.textPrefix + '.' + item.key | uppercase) : ''}}"
                     icon="{{:: item.icon || $ctrl.filterModel.icon || (item.key | lowercase)}}"
                     icon-color="{{:: item.iconColor || $ctrl.filterModel.iconColor}}"
                     active="item.active"
                     on-click="$ctrl.toggle(item.key)"
                     badge="item.count"></coyo-filter-entry>
  <coyo-filter-expand on-click="$ctrl.onClickExpand()"
                      ng-if="$ctrl.showExpand"></coyo-filter-expand>
</coyo-filter>
