<button mat-icon-button type="button" size="small"
   [tooltip]="tip | translate" #tooltip='bs-tooltip'
   [placement]="placement"
   [triggers]="triggers"
   [isDisabled]="disabled"
   containerClass="help"
   (click)="openModal($event)"
   (keydown.enter)="openModal($event)"
   aria-hidden="false" [attr.aria-label]="aria | translate">
  <mat-icon svgIcon="help"></mat-icon>
</button>
<span class="sr-only"
      aria-live="assertive"
      tabindex="-1" [translate]="ariaMessage"></span>
