@import "variables";

/*
 * The color of the divider widget can easily be changed by setting the
 * color value in CSS. The divider's lines will automatically adjust to
 * that value with a 25% opacity.
 */

:host {
  display: flex;
  margin: 16px 0;
  min-height: 24px;
  align-items: center;
  cursor: default;
  color: $n200;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.divider-content {
  text-align: center;
  user-select: none;
}

.divider-line {
  flex: 1;
  min-width: 16px;
  border-top: 1px solid currentColor;
  opacity: .25;
}
