.admin-settings {
  .nav.nav-tabs > li > a,
  .nav.nav-tabs.nav-justified > li > a {
    text-overflow: inherit;
    
    @media print, screen and (min-width: $screen-xs-max) {
      text-overflow: ellipsis;
    }
  }

  .xs-block {
    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
}
