<section class="panel panel-default hidden-xs hidden-sm">
  <div class="panel-heading">
    <h2 class="panel-title" translate="MODULE.ACCOUNT.SETTINGS.INTEGRATION.HEADLINE"></h2>
  </div>

  <div class="panel-body">
    <div class="settings-container google-settings">
      <div class="icon-wrapper">
        <i [className]="integrationIcon"></i>
      </div>
      <div class="events-settings">
        <div class="headline">
          <h3 [translate]="'MODULE.ACCOUNT.SETTINGS.INTEGRATION.EVENTS.' + integrationType + '.HEADLINE'"></h3>
        </div>
        <div>
          <coyo-checkbox id="sync-events-checkbox"
                         [label]="'MODULE.ACCOUNT.SETTINGS.INTEGRATION.EVENTS.CHECKBOX'"
                         [hint]="'MODULE.ACCOUNT.SETTINGS.INTEGRATION.EVENTS.' + integrationType + '.HINT'"
                         [formControl]="syncEvents">
          </coyo-checkbox>
        </div>
      </div>
    </div>
  </div>
</section>
