@import "variables";

.search-result-external {
  height: 100%;
  a {
    background: $gray-lighter;
    display: flex;
    border-radius: $border-radius-base;
    height: 100%;

    .result-icon {
      min-height: 16px;
      min-width: 16px;
      margin: 3px 8px 0 16px;
    }

    .result-text {
      padding-right: 16px;
      overflow: hidden;
      word-break: break-all;
      line-height: $line-height-computed;
      max-height: $line-height-computed * 2;
    }
  }
}
