<div class="text-center mt-m mb-xs" ng-if="$ctrl.loading">
    <coyo-spinner></coyo-spinner>
</div>

<div ng-if="!$ctrl.loading && !$ctrl.page.content.length" class="text-center text-muted mt-m mb-xs"
     translate="APP.CHAMPIONSHIP.NO_RANKING">
</div>

<div class="ranking" ng-if="!$ctrl.loading && $ctrl.page.content.length">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="rank">
                    <span translate="APP.CHAMPIONSHIP.RANKING.RANK" class="hidden-xs hidden-xs"></span>
                    <span translate="APP.CHAMPIONSHIP.RANKING.RANK_MOBILE" class="visible-xs-inline visible-sm-inline"></span>
                </th>
                <th class="player" translate="APP.CHAMPIONSHIP.RANKING.NAME"></th>
                <th class="points">
                    <span translate="APP.CHAMPIONSHIP.RANKING.POINTS" class="hidden-xs hidden-sm"></span>
                    <span translate="APP.CHAMPIONSHIP.RANKING.POINTS_MOBILE" class="visible-xs-inline visible-sm-inline"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="$ctrl.userRankingState < 0" class="warning">
                <td class="rank">#{{:: $ctrl.userRanking.rank }}</td>
                <td class="player">
                    <coyo-user-avatar [user]="::$ctrl.userRanking.user" avatar-size="xs" [no-link]="true"></coyo-user-avatar>
                    {{:: $ctrl.userRanking.user.displayName }}
                </td>
                <td class="points">{{:: $ctrl.userRanking.points }}</td>
            </tr>
            <tr ng-if="$ctrl.userRankingState < -2">
                <td colspan="3" class="dots">…</td>
            </tr>
            <tr ng-repeat="ranking in $ctrl.page.content" class="pointer" ng-class="{warning: ranking.user.id === $ctrl.userRanking.user.id}"  ng-click="$ctrl.open(ranking.user)">
                <td class="rank">#{{:: ranking.rank }}</td>
                <td class="player">
                    <coyo-user-avatar [user]="::ranking.user" avatar-size="xs" [no-link]="true"></coyo-user-avatar>
                    {{:: ranking.user.displayName }}
                </td>
                <td class="points">{{:: ranking.points }}</td>
            </tr>
            <tr ng-if="$ctrl.userRankingState > 2">
                <td colspan="3" class="dots">…</td>
            </tr>
            <tr ng-if="$ctrl.userRankingState > 0" class="warning">
                <td class="rank">#{{:: $ctrl.userRanking.rank }}</td>
                <td class="player">
                    <coyo-user-avatar [user]="::$ctrl.userRanking.user" avatar-size="xs" [no-link]="true"></coyo-user-avatar>
                    {{:: $ctrl.userRanking.user.displayName }}
                </td>
                <td class="points">{{:: $ctrl.userRanking.points }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <coyo-table-pagination ng-if="$ctrl.page" page="$ctrl.page"></coyo-table-pagination>
        </div>
    </div>
</div>
