<picture picturefill ng-if="$ctrl.imageUrls && $ctrl.previewAvailable && $ctrl.imageUrl" ng-show="!$ctrl.isProcessing">
  <source ng-repeat="(size, url) in $ctrl.imageUrls" ng-srcset="{{url}}" pf-media="{{size}}"/>
  <source ng-srcset="{{$ctrl.defaultUrl}}" />
  <img ng-src="{{$ctrl.imageUrl}}" coyo-image-onload="$ctrl.onLoad()" ng-error="$ctrl.onError($event)"/>
</picture>
<div class="loading text-center" ng-if="$ctrl.isProcessing">
  <coyo-spinner size="sm"></coyo-spinner>
</div>

<div class="broken-image-placeholder text-muted" ng-if="!$ctrl.previewAvailable && !$ctrl.isProcessing && !$ctrl.placeholderUrl">
  <i class="zmdi zmdi-broken-image"></i>
  <span class="no-preview-text" translate="PREVIEW_NOT_AVAILABLE"></span>
</div>

<img ng-src="{{$ctrl.placeholderUrl}}" ng-if="!$ctrl.previewAvailable && !$ctrl.isProcessing && $ctrl.placeholderUrl" />
