<ng-container *ngxPermissionsOnly="['LIKE']">
  <!-- Unfortunately we have to clone the button to correctly place the tooltip -->
  <button mat-button mat-link-button type="button" size="small" (click)="openLikes()" data-test="like-info-button"
          *ngIf="condensed && info?.count"
          [tooltip]="tooltipOthersCondensed"
          [isDisabled]="!state.totalCount"><mat-icon svgIcon="thumbs-up-circled"></mat-icon>{{info.count}}</button>
  <button mat-button type="button" size="small" (click)="openLikes()" data-test="like-info-button"
          *ngIf="!condensed && info?.count"
          [tooltip]="tooltipOthers"
          [isDisabled]="state.othersCount < 2"><mat-icon svgIcon="thumbs-up-circled"></mat-icon>{{'MODULE.SOCIAL.LIKE.TEXT' | translate : info}}</button>
</ng-container>
<ng-template #tooltipOthersCondensed>
  <div *ngFor="let sender of state.total.slice(0, 5)">{{sender.displayName}}</div>
  <div *ngIf="state.totalCount > 5">&hellip;</div>
</ng-template>
<ng-template #tooltipOthers>
  <div *ngFor="let sender of state.others.slice(1, 6)">{{sender.displayName}}</div>
  <div *ngIf="state.othersCount > 6">&hellip;</div>
</ng-template>
