<div class="form-group" ng-if="$ctrl.isExternalWorkspaceMemberIncluded || $ctrl.isExternalSuperadmin">
  <div class="col-sm-9 col-sm-offset-2">
    <div class="alert alert-warning">
      <strong class="external-role-warning" translate="USER.ROLE.EXTERNAL.ROLE.NAME.WARNING.ATTENTION"></strong>
      <div ng-show="$ctrl.isExternalWorkspaceMemberIncluded && !$ctrl.isExternalSuperadmin"
           class="external-role-warning" translate="USER.ROLE.EXTERNAL.ROLE.NAME.WARNING"></div>
      <div ng-show="$ctrl.isExternalSuperadmin"
           class="external-role-warning" translate="USER.ROLE.EXTERNAL.ROLE.NAME.WARNING.SUPERADMIN"></div>
    </div>
  </div>
</div>