coyo-filter {
  .filter-entry {
    .zmdi {
      &.pending::before {
        content: "\f1f5";
        color: $color-primary
      }

      &.attending::before {
        content: "\f269";
        color: $color-green;
      }

      &.maybe_attending::before {
        content: "\f268";
        color: $color-orange;
      }

      &.not_attending::before {
        content: "\f134";
        color: $color-gray;
      }
    }
  }
}
