.workspaces-list .category-manager li.filter-entry {
  &:hover:not(.filter-entry-editing) > a {
    padding-right: 88px !important;
  }

  @media print, screen and (min-width: $screen-md-min) {
    &.filter-entry-options:hover > a .badge {
      display: none;
    }
  }
}

h4.workspace-title {
  a, a:hover, a:focus {
    color: $text-color;
  }
}

.workspace-card {
  height: 190px;
  position: relative;

  @include xs() {
    height: auto;
    min-height: 190px;
  }

  .sender-avatar {

    img,
    .sender-avatar-empty {
      border-radius: 5px;
      background-color: $color-workspace-avatar-bg;
    }
  }

  .panel-body {
    height: 100%;
    min-height: 190px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .label-container {
      display: flex;

      @include xs() {
        flex-wrap: wrap;
      }

      .label {
        margin-right: 7px;
        margin-bottom: 3px;
        @include ellipsis();
      }
    }

    .title-container {
      flex-grow: 1;
      display: flex;
      min-width: 0;
      padding-bottom: 8px;

      .description-container {
        padding-left: 15px;
        overflow: hidden;

        h4 {
          margin: 1px 0 6px;
          position: relative;
          font-size: 20px;
          line-height: 26px;
          @include ellipsis()
        }

        .workspace-description {
          font-size: 14px;
          line-height: 1.6;
          padding-top: 2px;
          @include ellipsis-multiline(2, 45px);

          &.workspace-description-multiline {
            @include ellipsis-multiline(3, 70px);
          }
        }
      }
    }

    .controls-container {
      display: flex;
      justify-content: space-between;
      min-height: 32px;

      .workspace-requested {
        .hover-text {
          display: none;
        }
      }
      .workspace-requested:hover {
        .no-hover-text {
          display: none
        }
        .hover-text {
          display: block;
          cursor: pointer;
          color: $color-red;
        }
      }
    }
  }

  .workspace-card-labels {
    max-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    .label {
      margin-right: 4px;
    }
  }

  .workspace-approved {
    color: $color-green;
    line-height: 32px;
  }
}

.workspace-invite-select {
  .ui-select-placeholder {
    color: $btn-default-color;

    padding: 0 35px;
    font-size: 14px;
    line-height: 30px;
  }

  .form-control {
    &.ui-select-toggle {
      color: $color-white;
      padding: 0;
      height: 32px;

      @include box-shadow(0, -2px, 0, 0, rgba(0, 0, 0, .1), true, true);

      &:hover {
        @include box-shadow(0, -2px, 0, 0, rgba(0, 0, 0, .2), true, true);
      }

      // bugfix: dropdown does not open when clicking on caret
      &::after {
        font-family: 'Material-Design-Iconic-Font';
        content: "\f2f2";
        position: absolute;
        font-size: 16px;
        right: 1em;
        top: 0;
        line-height: 30px;
        color: $btn-default-color;
      }

      .caret {
        display: none;
      }
      // end bugfix

      &::before {
        font-family: 'Material-Design-Iconic-Font';
        content: "\f15a";
        position: absolute;
        top: 0;
        line-height: 30px;
        left: 15px;
        padding-right: 2px;
        color: $btn-default-color;
      }
    }

  }
}
