<section class="workspace" ng-cloak>

  <div class="panel panel-default">

    <!-- The foreground containing the display name, the job title and the menu -->
    <div class="panel-foreground">

      <!-- The avatar image -->
      <div class="workspace-avatar-container">
        <span ng-if="$ctrl.workspace._permissions.manage">
          <coyo-avatar-overlay (overlay-click)="$ctrl.changeAvatar($ctrl.workspace)"
                               icon-class="zmdi-camera"
                               ng-class="$root.screenSize.isXs ? 'md' : 'lg'"></coyo-avatar-overlay>
        </span>
        <coyo-refresh on-scope-event="workspaceAvatar:changed">
          <coyo-sender-avatar [avatar-size]="$root.screenSize.isXs ? 'md' : 'lg'" [no-link]="true"
                              [sender]="$ctrl.workspace"></coyo-sender-avatar>
        </coyo-refresh>
      </div>

      <!-- The workspace name + member count + join button -->
      <div class="titles-container" data-test="text-workspace-title">
        <div class="title">{{ $ctrl.workspace.displayName }}
          <coyo-workspace-visibility class="label label-info label-muted hidden-xs"
                                     workspace="$ctrl.workspace"></coyo-workspace-visibility>
          <span class="label label-info status" ng-if="$ctrl.workspace.archived === true"
                translate="WORKSPACE.ARCHIVED"></span></div>
        <div class="visible-xs">
          <coyo-workspace-visibility class="label label-muted"
                                     workspace="$ctrl.workspace"></coyo-workspace-visibility>
          <span class="label label-muted" translate="WORKSPACE.MEMBERS.COUNT"
                translate-values="{count : $ctrl.workspace.memberCount}"></span>
        </div>
        <div class="subtitle hidden-xs">{{$ctrl.workspace.description}}</div>
      </div>

      <coyo-workspace-member-avatars ng-if="!$root.screenSize.isXs"
                                     workspace="$ctrl.workspace"></coyo-workspace-member-avatars>

      <div class="hidden-xs" ng-switch="$ctrl.workspace.membershipStatus">
        <button class="workspace-join-button btn btn-primary" ng-click="$ctrl.join()" ng-switch-when="NONE">
          <i class="zmdi zmdi-hc-lg zmdi-plus"></i>
          <span translate="WORKSPACE.JOIN.JOIN"></span>
        </button>
        <button class="workspace-join-button btn btn-primary" ng-click="$ctrl.join()" ng-switch-when="INVITED">
          <i class="zmdi zmdi-hc-lg zmdi-plus"></i>
          <span translate="WORKSPACE.JOIN.ACCEPT"></span>
        </button>
        <button class="workspace-join-button btn btn-default" disabled ng-switch-when="APPROVED">
          <i class="zmdi zmdi-hc-lg zmdi-check"></i>
          <span translate="WORKSPACE.JOIN.APPROVED"></span>
        </button>
      </div>
    </div>

    <coyo-sender-navigation-mobile apps="$ctrl.apps" current-app="$ctrl.currentApp" sender="$ctrl.workspace">
    </coyo-sender-navigation-mobile>
  </div>

  <div class="content-with-sidebar">
    <div class="content-sidebar hidden-xs hidden-sm">

      <coyo-widget-slot can-manage="$ctrl.workspace._permissions.manageSlots"
                        class="widget-slot-sidebar"
                        hide-slot-placeholder="!$root.globalEditMode"
                        name="workspace-sidebar-top"
                        parent="$ctrl.workspace"></coyo-widget-slot>

      <!-- Navigation -->
      <coyo-sender-navigation apps="$ctrl.apps" apps-status="$ctrl.appsStatus"
                              sender="$ctrl.workspace"></coyo-sender-navigation>

      <!-- Options -->
      <div class="panel panel-sm">
        <div class="panel-body pb-xxs">
          <div class="text-muted text-uppercase" translate="WORKSPACE.OPTIONS"></div>
        </div>
        <ul class="nav nav-default nav-icons nav-sender-options pb-xs">
          <li coyo-global-permissions="CREATE_SHARE">
            <coyo-share-nav-bar-button [share-target]="$ctrl.workspace"
                                       translation-key="WORKSPACE.SHARE"></coyo-share-nav-bar-button>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="main.workspace.show.members">
              <i class="zmdi zmdi-accounts"></i> <span translate="WORKSPACE.MEMBERS"></span>
              <span class="badge badge-red pull-right" ng-if="$ctrl.workspace.requestedCount">{{$ctrl.workspace.requestedCount}}</span>
            </a>
          </li>
          <li ng-if="$ctrl.workspace._permissions.canSubscribe">
            <coyo-workspace-subscribe user="$ctrl.currentUser"
                                      workspace="$ctrl.workspace"></coyo-workspace-subscribe>
          </li>
          <li class="divider"
              ng-if="$ctrl.workspace._permissions.manage || $ctrl.workspace._permissions.manageApps"></li>
          <li ng-class="{disabled: $ctrl.appsStatus.busy}" ng-if="$ctrl.workspace._permissions.manageApps">
            <a href="#" ng-click="$ctrl.addApp($ctrl.workspace, $ctrl.apps)">
              <i class="zmdi zmdi-plus-circle-o"></i> <span translate="APPS.ADD"></span>
            </a>
          </li>
          <li ng-class="{disabled: $ctrl.appsStatus.busy}" ng-if="$ctrl.workspace._permissions.manageApps">
            <a href="#" ng-click="$ctrl.addGroup()">
              <i class="zmdi zmdi-plus-circle-o-duplicate"></i><span translate="APPS.ADD_GROUP"></span>
            </a>
          </li>
          <li coyo-global-permissions="ACCESS_FILES, MANAGE_FILES" ng-if="$ctrl.workspace._permissions.manage"
              ui-sref-active="active">
            <a ui-sref="main.workspace.show.files">
              <i class="zmdi zmdi-file"></i> <span translate="MODULE.SENDER.FILES.NAVIGATION"></span>
            </a>
          </li>
          <li ng-if="$ctrl.workspace._permissions.manage">
            <a ui-sref="main.workspace.show.settings">
              <i class="zmdi zmdi-settings"></i> <span translate="SETTINGS"></span>
            </a>
          </li>
          <li class="divider" ng-if="$ctrl.showJoinOrLeave"></li>
          <li ng-if="$ctrl.workspace._permissions.leave && $ctrl.workspace.membershipStatus === 'APPROVED'">
            <a href="#" ng-click="$ctrl.leave()">
              <i class="zmdi zmdi-hc-rotate-270 zmdi-square-down"></i> <span
                translate="WORKSPACE.LEAVE"></span>
            </a>
          </li>
          <li ng-if="$ctrl.workspace._permissions.leave && $ctrl.workspace.membershipStatus === 'INVITED'">
            <a href="#" ng-click="$ctrl.leave()">
              <i class="zmdi zmdi-hc-rotate-270 zmdi-square-down"></i> <span
                translate="WORKSPACE.ACTION.LEAVE.INVITED"></span>
            </a>
          </li>
          <li ng-if="$ctrl.workspace._permissions.leave && $ctrl.workspace.membershipStatus === 'REQUESTED'">
            <a href="#" ng-click="$ctrl.leave()">
              <i class="zmdi zmdi-hc-rotate-270 zmdi-square-down"></i> <span
                translate="WORKSPACE.ACTION.LEAVE.REQUESTED"></span>
            </a>
          </li>
          <li ng-if="$ctrl.workspace.membershipStatus === 'NONE'">
            <a href="#" ng-click="$ctrl.join()">
              <i class="zmdi zmdi-plus"></i> <span translate="WORKSPACE.JOIN"></span>
            </a>
          </li>
          <li ng-if="$ctrl.workspace.membershipStatus === 'INVITED'">
            <a href="#" ng-click="$ctrl.join()">
              <i class="zmdi zmdi-plus"></i> <span translate="WORKSPACE.ACTION.JOIN.INVITED"></span>
            </a>
          </li>
        </ul>
      </div>

      <coyo-widget-slot can-manage="$ctrl.workspace._permissions.manageSlots"
                        class="widget-slot-sidebar"
                        hide-slot-placeholder="!$root.globalEditMode"
                        name="workspace-sidebar-bottom"
                        parent="$ctrl.workspace"></coyo-widget-slot>

      <div ui-view="app-sidebar"></div>
    </div>
    <div class="content-main">
      <div class="alert alert-warning" ng-if="$ctrl.currentApp && !$ctrl.currentApp.active" role="alert">
        <i class="zmdi zmdi-alert-triangle"></i> <span translate="APPS.INACTIVE"></span>
      </div>

      <coyo-widget-slot can-manage="$ctrl.workspace._permissions.manageSlots"
                        class="widget-slot-content"
                        hide-slot-placeholder="!$root.globalEditMode"
                        name="workspace-content"
                        parent="$ctrl.workspace"></coyo-widget-slot>

      <ui-view></ui-view>
      <div class="panel" ng-if="!$ctrl.apps.length && ('main.workspace.show' | isState)">
        <div class="panel-body">
          <p class="text-muted text-center m-0">
            <span translate="MODULE.WORKSPACES.APPS.EMPTY"></span><br>
            <a href="#" ng-click="$ctrl.addApp($ctrl.workspace, $ctrl.apps)"
               ng-if="$ctrl.workspace._permissions.manageApps"
               translate="MODULE.WORKSPACES.APPS.EMPTY_LINK"></a>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
