<div class="filepicker-modal">
  <div *ngIf="items$ | async; let items;">
    <div class="filepicker-header">
      <coyo-filepicker-breadcrumb [items]="breadcrumbItems"
                                  (folderClick)="openFolder($event)"></coyo-filepicker-breadcrumb>
      <mat-dialog-close [attr.aria-label]="'CLOSE' | translate"></mat-dialog-close>
    </div>

    <div mat-dialog-content>
      <div class="mat-full-width">
        <table class="table filepicker-items-table">
          <thead>
          <tr>
            <th colspan="2" class="col-icon-name" [class.col-select]="!isMobile()">
              <div class="icon-wrapper" [class.checkbox-wrapper]="!isMobile()">
                <ng-container *ngTemplateOutlet="items.length > 0 && !isMobile() && selectAllCheckbox"></ng-container>
                {{'FILEPICKER.COLUMN.FILENAME' | translate}}
              </div>
            </th>
            <th class="col-size hidden-xs">{{'FILEPICKER.COLUMN.SIZE' | translate}}</th>
            <th class="col-modified hidden-xs">{{'FILEPICKER.COLUMN.MODIFIED' | translate}}</th>
            <th *ngIf="isMobile() && items.length > 0" class="col-select">
              <ng-container *ngTemplateOutlet="selectAllCheckbox"></ng-container>
            </th>
          </tr>
          </thead>
          <tbody *ngIf="items.length > 0">
          <tr *ngFor="let item of items" (click)="filePickerItemClicked(item, $event)">
            <td class="col-icon" [class.col-select]="!isMobile()" aria-hidden="true">
              <div class="icon-wrapper" [class.checkbox-wrapper]="!isMobile()">
                <ng-container *ngTemplateOutlet="!isMobile() && selectFileCheckbox;context:item"></ng-container>
                <coyo-filepicker-icon [item]="item"></coyo-filepicker-icon>
              </div>
            </td>
            <td class="col-name">
              <a href *ngIf="item.isFolder; else fileName"
                 [attr.aria-label]="'FILEPICKER.FOLDER.ARIA' | translate : {folder: item.name}">{{item.name}}</a>
              <ng-template #fileName>
                <span [attr.aria-label]="'FILEPICKER.FILE.ARIA' | translate : {file: item.name}">{{item.name}}</span>
              </ng-template>
            </td>
            <td class="hidden-xs">
              <span *ngIf="!item.isFolder">{{item.sizeInBytes | fileSize}}</span>
              <span *ngIf="item.isFolder">- -</span>
            </td>
            <td class="hidden-xs">
              {{item.lastModified | date:'short'}}
            </td>
            <td *ngIf="isMobile()" class="col-select">
              <ng-container *ngTemplateOutlet="selectFileCheckbox;context:item"></ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!loading && items.length === 0" class="empty-folder">
          <div class="text-muted">{{'FILEPICKER.FOLDER.EMPTY' | translate}}</div>
          <div>
            <button type="button" class="btn btn-link"
                    (click)="goBackToPreviousFolder()"
                    *ngIf="breadcrumbItems.length > 1"
                    [attr.aria-label]="'FILEPICKER.BUTTON.BACK.ARIA' | translate">
              {{'FILEPICKER.BUTTON.BACK' | translate}}
            </button>
          </div>
        </div>
        <coyo-spinner *ngIf="loading" size="sm"></coyo-spinner>
      </div>
    </div>
    <div mat-dialog-actions *ngIf="items.length > 0">
      <button mat-button mat-dialog-close type="button" [attr.aria-label]="'CANCEL' | translate">
        {{'CANCEL' | translate}}
      </button>
      <button mat-flat-button color="accent" type="submit" (click)="onSubmitSelectedFiles()"
              [attr.aria-label]="'FILEPICKER.BUTTON.SELECT' | translate : {count: fileSelection.numberOfSelectedFilesInTotal}">
        {{'FILEPICKER.BUTTON.SELECT' | translate : {count: fileSelection.numberOfSelectedFilesInTotal} }}
      </button>
    </div>
  </div>
</div>

<ng-template #selectAllCheckbox>
  <coyo-checkbox *ngIf="fileSelection.numberOfFilesInCurrentFolder > 0" [formControl]="fileSelection.selectAllControl"
                 (click)="fileSelection.toggleAllFileSelectionsInCurrentFolder()"
                 [partiallyChecked]="fileSelection.isAtLeastOneButNotAllFilesSelectedInCurrentFolder()"
                 ariaLabel="{{'FILEPICKER.COLUMN.SELECTALL' | translate}}"
                 [class.visible]="isMobile() || fileSelection.isAtLeastOneFileInCurrentFolderSelected()"></coyo-checkbox>
</ng-template>

<ng-template #selectFileCheckbox let-name="name" let-id="id" let-isFolder="isFolder">
  <coyo-checkbox *ngIf="!isFolder" [formControl]="fileSelection.selectControls[id]"
                 name="id"
                 [class.visible]="isMobile() || fileSelection.isAtLeastOneFileInCurrentFolderSelected()"
                 ariaLabel="{{'FILEPICKER.FILE.SELECT' | translate : {file: name} }}"></coyo-checkbox>
</ng-template>
