@import 'variables';

.filepicker-header {
  padding-right: 24px;

  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 24px;
  }
}

coyo-filepicker-breadcrumb {
  width: calc(100% - 32px);
}

.mat-dialog-content > .mat-full-width {
  padding: 0;

  .empty-folder {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 20px;
    padding-left: 5px;
    height: 125px;
    width: 250px;

    @media all and (min-width: $screen-sm) {
      position: relative;
    }
  }
}

.filepicker-items-table {
  th {
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    color: $n200;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $n0;
    border-bottom: 0;
    box-shadow: 0 2px 0 $n50;
    padding-bottom: 12px;

    &.col-icon-name {
      padding-left: 16px;
      padding-right: 0;

      &.col-select {
        padding-left: 8px;
      }
    }

    &.col-size {
      width: 115px;
    }

    &.col-modified {
      width: 155px;
    }

    &.col-select {
      width: 56px;
      padding-bottom: 6px;
    }
  }

  tr:hover {
    coyo-checkbox {
     visibility: visible;
    }
  }

  tbody tr {
    color: $n400;

    a, a:hover, a:active, a:visited {
      color: $n400;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      background-color: $n35;
    }
  }

  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.col-name {
      max-width: 0.1px;
    }

    &.col-icon {
      width: 34px;
      padding: 8px 0 8px 16px;

      &.col-select {
        width: 52px;
        padding-left: 8px;
      }
    }

    &.col-select {
      padding-bottom: 0;
      padding-top: 0;
    }

    &:last-child {
      padding-right: 16px;

      @media screen and (min-width: $screen-sm-min) {
        padding-right: 32px;
      }
    }
  }
}

.icon-wrapper {
  position: relative;

  &.checkbox-wrapper {
    padding-left: 32px;
  }

  coyo-checkbox {
    position: absolute;
    left: 0;
    bottom: -8px;
    margin-bottom: 0;
  }
}

coyo-spinner {
  margin: 0 auto;
  width: 60px;
  display: block;
}

coyo-checkbox {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}
