<div class="modal-content-wrapper">
  <div class="modal-header">
    <h3 class="modal-title">
      <coyo-refresh watch="$ctrl.file">
        <small class="text-muted">
        <span ng-if="$ctrl.file.locked" class="label label-warning label-editing mr-xxs"
              translate="FILE_LIBRARY.PREVIEW.FILE_LOCKED"></span>
          {{:: $ctrl.file.type | translate }}
        </small>
        <coyo-ngx-file-icon [file]="::$ctrl.file" class="zmdi-hc-fw hidden-xs">
        </coyo-ngx-file-icon>&nbsp;{{ :: $ctrl.file.name }}
      </coyo-refresh>
    </h3>
    <span class="modal-close" ng-click="$close($ctrl.updated)"
          aria-label="{{:: 'FILE_DETAILS.CLOSE.ARIA' | translate}}">
      <i class="zmdi zmdi-close img-close"></i>
    </span>
  </div>
  <div class="file-counter" ng-if="$ctrl.filesTotal > 1">
      <span ng-click="$ctrl.previous()" role="button" ng-class="{'invisible': !$ctrl.hasPrevious()}"
            aria-label="{{:: 'FILE_DETAILS.PREVIOUS.ARIA' | translate}}">
        <i class="zmdi zmdi-arrow-left"></i>
      </span>
    <span translate="FILE_DETAILS.COUNT"
          translate-value-current="{{$ctrl.currentIndex + 1}}" translate-value-total="{{$ctrl.filesTotal}}"></span>
    <span ng-click="$ctrl.next()" role="button" ng-class="{'invisible': !$ctrl.hasNext()}"
          aria-label="{{:: 'FILE_DETAILS.NEXT.ARIA' | translate}}">
        <i class="zmdi zmdi-arrow-right"></i>
      </span>
  </div>
  <div class="modal-body">
    <div class="modal-file-preview" ng-class="{'multifile': $ctrl.filesTotal > 1}">
      <div class="fd-preview" ng-class="{'pdf-full-screen': $ctrl.viewPdfFullScreen}">
        <div class="error-container" ng-if="$ctrl.fileErrors[$ctrl.file.id] && $ctrl.file.storage != 'G_SUITE'">
          <div class="alert alert-danger" translate="{{$ctrl.fileErrors[$ctrl.file.id]}}"></div>
        </div>
        <coyo-file-preview class="preview-container"
                           ng-if="!$ctrl.attachment.externalFileUrlLoading"
                           [file]="$ctrl.file"
                           [url]="$ctrl.previewUrl"
                           [interactive-image-view]="true"
                           [use-preview-generating-animation]="true"
                           [group-id]="$ctrl.file.groupId || $ctrl.file.senderId"
                           size="{{$ctrl.file.contentType === 'image/gif' ? 'original' : 'xl'}}"
                           [no-preview-available-text]="$ctrl.file.fileNotAvailableTranslation"
                           [options]="$ctrl.previewOptions"></coyo-file-preview>
      </div>
      <div ng-if="$ctrl.showPDFLoadingHint"
              ng-click="$ctrl.allowPDFPreview()"
              class="pdf-loading-hint">
        <span translate="FILE_DETAILS.SHOWPDF" translate-values="{size: ($ctrl.file.length | fileSize)}"></span>
      </div>
    </div>
    <coyo-refresh watch="$ctrl.file">
      <coyo-library-file-details ng-if="::$ctrl.file && !$ctrl.file.attachment"
                                 current-user="::$ctrl.currentUser"
                                 file="::$ctrl.file"
                                 app-id-or-slug="::$ctrl.appIdOrSlug"
                                 file-author="::$ctrl.fileAuthors[$ctrl.file.id]"
                                 show-authors="::$ctrl.showAuthors"
                                 preview-url="$ctrl.previewUrl"
                                 link-to-file-library="::$ctrl.linkToFileLibrary"
                                 update-file-func="::$ctrl.updateFile()"></coyo-library-file-details>
      <div ng-if="::$ctrl.file && $ctrl.file.attachment" class="file-details-action-bar attachment-action-bar pl-xxs pr-xxs">
        <div class="left-aligned">
          <coyo-file-integration-link [file]="$ctrl.file"></coyo-file-integration-link>
        </div>
        <div class="right-aligned">
          <a href coyo-download="$ctrl.downloadUrl"
             class="btn btn-link btn-zmdi"
             uib-tooltip="{{:: 'DOWNLOAD' | translate }}"
             tooltip-append-to-body="true"
             tooltip-placement="bottom"
             tooltip-popup-delay="500"
             tooltip-enable="!$root.screenSize.isXs"
             ng-if="!$ctrl.externalFile">
            <i class="zmdi zmdi-hc-lg zmdi-download"></i>
          </a>
        </div>
      </div>
      <div ng-if="::$ctrl.file && $ctrl.file.attachment" class="attachment-details">
        <dl class="coyo-file-details dl-horizontal">
          <dt translate="FILE_DETAILS.FILESIZE"></dt>
          <dd>{{ $ctrl.file.length | fileSize }}</dd>
          <dt translate="FILE_DETAILS.FILETYPE"></dt>
          <dd>{{:: $ctrl.file.contentType }}</dd>
          <dt translate="FILE_DETAILS.AUTHOR"></dt>
          <dd>
            <coyo-sender-link ng-if="$ctrl.file.author" href [sender]="$ctrl.file.author"></coyo-sender-link>
          </dd>
          <dt translate="FILE_DETAILS.FILE_CREATED"></dt>
          <dd>{{:: $ctrl.file.created | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' +
            $root.timeFormat.short }}
          </dd>
        </dl>
      </div>
    </coyo-refresh>
    <br/>
  </div>
</div>
