<ul class="dropdown-menu" ng-show="isOpen() && !moveInProgress" role="listbox" aria-hidden="{{!isOpen()}}">
  <li class="uib-typeahead-match" ng-repeat="match in matches" ng-class="{active: isActive($index) }"
      ng-mouseenter="selectActive($index)" ng-click="selectMatch($index, $event)" role="option" id="{{::match.id}}">
    <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
  </li>
</ul>
