<div class="nav-search">
  <form class="input-wrapper nav-item nav-item-icon" role="search" aria-label="{{::'MODULE.SEARCH.ARIA' | translate}}">
    <label for="global-search-input-field" id="global-search-input-field-label" class="hidden" aria-hidden="true"
           translate="SEARCH.INPUT.LABEL.ARIA"></label>

    <input type="text" class="form-control no-border"
           id="global-search-input-field"
           aria-labelledby="global-search-input-field-label"
           ng-model="searchBar.searchResultSelection"
           ng-keyup="searchBar.onKeyUp($event)"
           uib-typeahead="entry as entry.displayName for entry in searchBar.search($viewValue)"
           typeahead-should-select="searchBar.allowSelection($event)"
           typeahead-on-select="searchBar.searchResultSelected($item)"
           typeahead-popup-template-url="app/modules/search/components/search-bar-quick-result-popup.html"
           typeahead-is-open="searchBar.typeaheadIsOpen"
           typeahead-template-url="app/modules/search/components/search-bar-quick-result-entry.html"
           typeahead-wait-ms="250"
           typeahead-focus-on-select="false"
           oyoc-show-typeahead-on-focus
           class="form-control"
           coyo-global-permissions="SEARCH"
           translate translate-attr-placeholder="SEARCH"
           autocomplete="off"
           ng-class="{'open': $root.search.visible}"
           tabindex="{{$root.search.visible == true ? '0' : '-1'}}"
           aria-hidden="{{!searchBar.typeaheadIsOpen}}"
           data-test="navigation-global-search-input">
    <a href coyo-global-permissions="SEARCH" class="search-icon search-icon-open"
       ng-if="!$root.search.visible"
       ng-click="$root.search.visible ? searchBar.hide() : searchBar.show()"
       data-test="navigation-search-icon"><!--
   --><i class="zmdi zmdi-hc-fw zmdi-search" aria-hidden="true"></i><!--
   --><span class="sr-only" translate="SEARCH.OPEN_ICON.AIRA"></span>
    </a>
    <a href coyo-global-permissions="SEARCH" class="search-icon search-icon-close"
       ng-if="$root.search.visible"
       ng-click="$root.search.visible ? searchBar.hide() : searchBar.show()"><!--
   --><i class="zmdi zmdi-hc-fw zmdi-close-circle-o" aria-hidden="true"></i><!--
   --><span class="sr-only" translate="SEARCH.CLOSE_ICON.AIRA"></span>
    </a>
  </form>
  <coyo-tour-step coyo-global-permissions="SEARCH"
                  placement="bottom" fixed="true"
                  topic="navigation" order="20" step-id="navigation.search" aria-hidden="true"
                  title="{{:: 'TOUR.MAIN.SEARCH.TITLE' | translate }}"
                  content="{{:: 'TOUR.MAIN.SEARCH' | translate }}"></coyo-tour-step>
</div>
