<div class="search-bar-quick-result {{match.model.typeName}}">

  <div ng-if="match.model.typeName === 'show-all-results-dummy'">
    <span class="zmdi zmdi-search" aria-hidden="true"></span>
    <span class="title" translate="SEARCH.SHOW_ALL_RESULTS"></span>&nbsp;
    <span class="query">{{ :: match.model.displayName}}</span>
  </div>

  <div ng-if="::match.model.typeName !== 'show-all-results-dummy'">
    <div aria-hidden="true">
      <coyo-sender-avatar [sender]="match.model.sender" [avatar-size]="'sm'" [no-link]="true"></coyo-sender-avatar>
    </div>
    <div class="right-side">
      <span class="name search-result-name" ng-bind-html="::match.model.displayName"></span><br/>

      <span class="subtitle">
        <span ng-if="::match.model.typeName === 'user'">
          <span ng-bind-html="::match.model.excerpt"></span>
        </span>

        <span ng-if="::match.model.typeName === 'page'">
          <span class="zmdi text-muted" ng-class="match.model.sender.public ? 'zmdi-globe' : 'zmdi-lock'" aria-hidden="true"></span>&nbsp;
          <span translate="PAGE.PUBLIC" ng-if="match.model.sender.public"></span>
          <span translate="PAGE.PRIVATE" ng-if="!match.model.sender.public"></span>
        </span>

        <span ng-if="::match.model.typeName === 'workspace'">
          <span class="zmdi text-muted" ng-class="match.model.sender.public ? 'zmdi-globe' : 'zmdi-lock'" aria-hidden="true"></span>&nbsp;
          <span translate="WORKSPACE.{{match.model.sender.visibilityName}}"></span>
        </span>

        <span ng-if="::match.model.typeName === 'event'">
          <span class="zmdi text-muted" ng-class="match.model.sender.public ? 'zmdi-globe' : 'zmdi-lock'" aria-hidden="true"></span>&nbsp;
          <span translate="EVENT.PUBLIC" ng-if="match.model.sender.public"></span>
          <span translate="EVENT.PRIVATE" ng-if="!match.model.sender.public"></span>
        </span>
      </span>

    </div>
  </div>

</div>
