<div class="button-widget">
  <a class="btn" [ngClass]="widget.settings?._button?.btnClass"
     [attr.href]="editMode ? null : widget.settings?._url"
     [attr.target]="getLinkTarget()">{{widget.settings?.text}}</a>
</div>
