<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="application-name" content="Coyo">
    <meta name="author" content="COYO GmbH">
    <meta name="description" lang="de" content="COYO ist das Enterprise Social Network, mit dem du und deine Kollegen besser zusammenarbeiten!">
    <meta name="description" lang="en" content="COYO is the enterprise social network that lets you and your colleagues work better together!">
    <meta name="keywords" lang="de" content="Intranet, Soziales Netzwerk, Kommunikation, Kollaboration, Content-Management">
    <meta name="keywords" lang="en" content="intranet, social network, communication, collaboration, content management">

    <link rel="shortcut icon" type="image/x-icon" href="/web/themes/public/favicon" />
    <link rel="apple-touch-icon" href="/web/themes/public/apple-icon"/>
    <script src="/config.js"></script>
    <base href="/">

    <title></title>
  </head>
  <body class="custom-theme-pending translations-pending"
        ng-class="[{'global-edit-mode' :  $root.globalEditMode,
                   'mobile-app' : $root.app.mobile,
                   'mobile-app-ios' : $root.app.ios,
                   'mobile-app-android' : $root.app.android,
                   'backdrop-visible' : $root.showBackdrop},
                   'state-' + ($state.current.name | replace : '\\.': '-')]">
    <coyo-bootstrap></coyo-bootstrap>
    <span class="coyo-spinner"></span>
    <noscript>
      <div class="browser-no-js">
        <h1>:(</h1>
        <p>
          You need to have JavaScript enabled in order to use Coyo. Please enable JavaScript in your browser and try
          again. For more information visit <a href="https://www.coyoapp.com/">https://www.coyoapp.com/</a> or contact
          the <a href="https://support.mindsmash.com">Support Center</a>.
        </p>
      </div>
    </noscript>

    <div oyoc-curtain></div>
    <div class="coyo-ng-select-container"><div class="ng-select-overlay-container"></div></div>
    <div class="body animate-appearance" ui-view ng-cloak ng-if="$root.translationsReady"></div>
    <div ng-bind-html="$root.trackingCode"></div>
  </body>
</html>
