<div class="modal-content-wrapper about-coyo-modal">
  <div class="modal-header">
    <span class="about-coyo-brand"></span>
    <span class="modal-close" ng-click="$dismiss('cancel')">
      <i class="zmdi zmdi-close img-close"></i>
    </span>
  </div>

  <div class="modal-body">
    <span class="with-love"><i class="heart" ng-click="vm.heartClick()"
                               ng-class="{'activated': vm.heartFeatureToggleActivated}"
                               aria-hidden="true"></i>Made with love in Hamburg, Germany</span>
    <div class="version-container">
      <span>{{::'ABOUT_COYO.VERSION'|translate}}:</span>
      <h4>{{vm.version}}</h4>
    </div>
  </div>

  <div class="modal-footer">
    <a href="{{::'ABOUT_COYO.PRIVACY_LINK'|translate}}" target="_blank" class="btn btn-secondary"><span>{{::'ABOUT_COYO.PRIVACY_POLICY'|translate}}</span></a>
    <a href="https://www.coyoapp.com" target="_blank" class="btn btn-secondary">www.coyoapp.com</a>
  </div>
</div>
