.birthday-widget {
  margin-left: -30px;
  margin-right: -30px;

  .status {
    margin-left: 30px;
    margin-right: 30px;
  }

  .load-more {
    display: flex;
    justify-content: center;

    button {
      color: $color-gray;
    }
  }

  .widget-title {
    padding-left: 30px;
    margin-bottom: 24px !important;
  }

  .birthday-item-container {
    border-top: 1px solid $color-gray-lighter;

    .birthday-date {
      background-color: $color-gray-lighter;
      display: flex;
      justify-content: center;
      width: 120px;

      .upcoming {
        display: flex;
        color: darkgrey;
        padding: 4px 0 5px 0;
      }

      .today {
        background-color: $color-green;
        color: $color-white;
        font-weight: bold;
        margin-top: -1px;
        padding: 4px 38px 5px 38px;
        text-transform: uppercase;
      }
    }

    .birthday-item {
      padding-left: 30px;

      .user-item-link {
        border-bottom: none;
      }

      .user-item-container {
        .user-item-headline {
          font-weight: bold;
        }
        .age {
          color: $color-gray;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md-min) {
  .birthday-item-container {
    margin: 0px 12px;
  }
}

.col-md-8, .col-md-12 {
  coyo-widget coyo-birthday-widget {
    .birthday-item-container {
      display: flex;

      .birthday-date {
        height: 30px;
      }
    }
  }
}
