.admin-terms .admin-terms-header {
  display: flex;

  .admin-terms-title {
    flex: 1;
    margin-right: 20px;
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    display: inline;
    @include break-word();
  }

  @media print, screen and (min-width: $screen-md-min) {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }
}
