@import "variables";
@import "mixins";

:host {
  display: inline-block;
  line-height: 1;
}

.empty {
  display: block;
  padding: 7px 14px;
  color: $n200;
  text-align: center;

  @include xs() {
    color: $n50;
  }
}

coyo-spinner {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.context-menu-title {
  @include ellipsis();
  text-align: center;
}

:host-context(coyo-timeline-item-context-menu) {
  .context-menu {
    .context-menu-toggle {
      font-size: 20px;
      width: 32px;
      height: 32px;
    }
  }
}

:host-context(coyo-message-form) {
  button.coyo-btn.coyo-btn-link {
    background-color: transparent;
    color: $n100;
    &:hover {
      color: $n50;
    }
  }
}
