<h1 mat-dialog-title translate="HELP"></h1>
<mat-dialog-close [attr.aria-label]="'CLOSE' | translate"></mat-dialog-close>
<div mat-dialog-content>
  <p [innerHTML]="text | translate | markdown:false"></p>
</div>
