.export-preview-modal {
  @media print, screen and (min-width: $screen-md-min) {
    .modal-lg {
      width: $print-body-width;
    }
  }

  .wiki-article-export {

    .load-info {
      text-align: center;
      margin-top: 30px;
      padding: 0 22px;

      .progress {
        margin-top: 20px;
        height: 10px;
        overflow: hidden;
        .progress-bar {
          width: 100%;
          background-color: $color-navbar-border;
          transform: scaleX(0.01);
          transform-origin: 0 0;
          transition: transform 2s linear;
        }
      }
    }

    .modal-header {
      @media print, screen and (min-width: $screen-sm-min) {
        display: none;
      }
    }

    &> .panel {
      box-shadow: none;

      $header_footer_height: 46;
      @media screen and (max-width: $screen-xs-max) {
        height: calc(100% - #{$header_footer_height * 2}px);
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 0;
      }

      @media print { /* needed explicitly for edge */
        overflow-x: hidden;
        overflow-y: hidden;
      }

      .navigation {

        .navigation-title {
          flex: 0 1 auto;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .modal-footer {
      text-align: right;
      background-color: $color-white;
      border-top: 1px solid $modal-footer-border-color;
      padding: 7px 16px;
      font-size: 18px;

      @media print, screen and (min-width: $screen-sm-min) {
        display: none;
      }
    }
  }
}

// style for the preview container
.print-preview {
  @media print {
    transform: none !important;
  }

  @include print-display();
  @include print-exclude-widgets();
}