<div class="panel">
  <div class="panel-nav navigation">
    <div class="navigation-placeholder"></div>
    <fb-count class="navigation-border">
      <coyo-counter value="ctrl.articleCount"
                    key-none="APP.WIKI.ARTICLE_NONE"
                    key-singular="APP.WIKI.ARTICLE_SINGULAR"
                    key-plural="APP.WIKI.ARTICLE_PLURAL"></coyo-counter>
    </fb-count>
    <div class="navigation-action navigation-border" ng-if="ctrl.app._permissions.createArticle">
      <button ui-sref=".create" class="btn btn-link wiki-article-create">
        <i class="zmdi zmdi-hc-fw zmdi-plus-circle"></i><span>&nbsp;{{:: 'APP.WIKI.CREATE' | translate }}</span>
      </button>
    </div>
  </div>
  <div class="panel-heading wiki-title">
    <h3 class="panel-title">
      {{ ctrl.app.name }}
    </h3>
    <coyo-app-language-switch ng-if="ctrl.multiLanguageActive === true && ctrl.translations.length > 1"
                              current-language="ctrl.currentLanguage"
                              available-languages="ctrl.translations"
                              fetch-translation="ctrl.fetchByLanguage"></coyo-app-language-switch>
  </div>
  <div class="panel-body" ng-if="ctrl.wikiArticles.length > 0">
    <div ui-tree="ctrl.treeOptions"
         data-drag-delay="100"
         class="article-tree"
         id="tree-root"
         data-drag-enabled="!ctrl.loading && ctrl.articleCount > 1 && ctrl.app._permissions.manage"
         ng-if="ctrl.wikiArticles.length > 0">
      <ol ui-tree-nodes ng-model="ctrl.wikiArticles">
        <li ng-repeat="node in ctrl.wikiArticles"
            ui-tree-node
            ng-include="'app/apps/wiki/wiki-article-node.html'"
            class="wiki-article-li article-{{$index}}"></li>
      </ol>
    </div>
  </div>

  <div class="panel-body" ng-if="ctrl.wikiArticles.length <= 0 && !ctrl.loading">
    <p class="text-muted text-center m-0">
      <span translate="APP.WIKI.EMPTY"></span><br>
      <a ui-sref=".create" translate="APP.WIKI.EMPTY_LINK"></a>
    </p>
  </div>

  <div class="panel-body" ng-if="ctrl.initialLoading">
    <p class="text-center m-m" ng-show="ctrl.initialLoading">
      <coyo-spinner></coyo-spinner>
    </p>
  </div>
</div>
