<div class="account" ng-cloak>

  <section class="panel panel-default">
    <div class="panel-heading panel-heading-main">
      <!-- Not yet implemented: Delete user account -->
      <!--
      <button class="btn btn-danger pull-right hidden-xs" coyo-global-permissions="MANAGE_USER">
        <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;{{::'MODULE.ACCOUNT.DELETE' | translate}}
      </button>
      -->
      <h2 class="panel-title" translate="MODULE.ACCOUNT.HEADER"></h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="dl-horizontal mb-0">
            <dt class="hidden-xs hidden-sm" translate="MODULE.ACCOUNT.USER.DISPLAYNAME"></dt>
            <dd class="hidden-xs hidden-sm">
              <i ng-if="!vm.data.account.remoteUser" class="zmdi zmdi-edit click-to-change-icon click-to-change"
                 coyo-global-permissions="MANAGE_USER"
                 ng-click="vm.openChangeNameModal()">
              </i>
              {{ vm.data.account.displayName }}
            </dd>
            <dt translate="MODULE.ACCOUNT.EMAIL"></dt>
            <dd>
              <i ng-if="!vm.data.account.remoteUser" class="zmdi zmdi-edit click-to-change click-to-change-icon"
                 coyo-global-permissions="MANAGE_USER"
                 ng-click="vm.openChangeEmailAddressModal()">
              </i>
              {{ vm.data.account.email || '-'}}
            </dd>
            <dt translate="MODULE.ACCOUNT.USER.MEMBER_SINCE"></dt>
            <dd>{{ vm.data.account.created | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long }}</dd>
          </dl>
        </div>
        <div class="col-md-6 hidden-xs hidden-sm">
          <dl class="dl-horizontal mb-0">
            <dt translate="MODULE.ACCOUNT.LANGUAGE"></dt>
            <dd id="account-language">
              <i class="zmdi zmdi-edit click-to-change-icon click-to-change" coyo-global-permissions="MANAGE_USER"
                 ng-click="vm.openLanguageModal()">
              </i>
              {{ 'LANGUAGE.LANGUAGES.' + vm.data.account.language | translate }}
            </dd>
            <dt translate="MODULE.ACCOUNT.TIMEZONE"></dt>
            <dd>
              <i class="zmdi zmdi-edit click-to-change-icon click-to-change" coyo-global-permissions="MANAGE_USER"
                 ng-click="vm.openTimeZoneModal()">
              </i>
              {{ 'TIMEZONES.LOCATIONS.' + vm.data.account.timezone | translateTimezone | translate }}
            </dd>
            <dt translate="MODULE.ACCOUNT.PASSWORD" ng-if="!vm.data.account.remoteUser"></dt>
            <dd ng-if="!vm.data.account.remoteUser">
              <i class="zmdi zmdi-edit click-to-change click-to-change-icon" coyo-global-permissions="MANAGE_USER"
                 ng-click="vm.openChangePasswordModal()">
              </i>
              ••••••••
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <coyo-integration-settings-component
      ng-if="vm.integrationSettingsPanelVisible" type="{{vm.integrationType}}">
  </coyo-integration-settings-component>

  <!-- devices desktop -->
  <section class="panel panel-default hidden-xs hidden-sm">
    <div class="panel-heading panel-heading-main">
      <h2 class="panel-title" translate="MODULE.ACCOUNT.PUSH_DEVICES.HEADER"></h2>
    </div>

    <div class="panel-body">
      <!-- devices -->
      <table class="table push-device-table">
        <thead>
        <tr>
          <th colspan="2" translate="MODULE.ACCOUNT.PUSH_DEVICES.NAME"></th>
          <th class="shrink" translate="MODULE.ACCOUNT.PUSH_DEVICES.CREATED"></th>
          <th class="shrink" translate="MODULE.ACCOUNT.PUSH_DEVICES.STATUS"></th>
          <th class="shrink"></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="!vm.pushDevicesAmount">
          <td colspan="5" class="no-devices-found"
              translate="MODULE.ACCOUNT.PUSH_DEVICES.MESSAGES.NO_DEVICES_FOUND"></td>
        </tr>
        <tr ng-repeat-start="appInstallations in vm.pushDevices | devicesToOrderedArray">
          <td class="push-device-toggle-wrapper">
            <i class="zmdi zmdi-hc-lg push-device-chevron"
               ng-class="vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed ? 'zmdi-chevron-down' : 'zmdi-chevron-up'"
               ng-click="vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed = !vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed"></i>
          </td>
          <td class="device-name">
            {{ appInstallations[0].name }}
          </td>
          <td>
            {{vm.pushDevicesDetails[appInstallations[0].name].created | amTimezone: $root.timezone | amDateFormat:
            $root.dateFormat.short}}
          </td>
          <td>
            <span class="label label-app-installations">{{ appInstallations.length }} {{:: 'MODULE.ACCOUNT.PUSH_DEVICES.APPS' | translate}}</span>
          </td>
          <td class="column-active-label">
            <coyo-active-label ng-model="vm.pushDevicesDetails[appInstallations[0].name].active"></coyo-active-label>
          </td>
          <td></td>
        </tr>

        <tr ng-repeat="appInstallation in appInstallations | orderBy:'created'" class="row-app-installation"
            uib-collapse="vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed">
          <td class="coyo-app-icon-wrapper">
            <div class="coyo-app-icon-frame"
                 ng-class="appInstallation.appType == 'MESSENGER' ? 'coyo-chat-app-icon' : 'coyo-app-icon'"></div>
          </td>
          <td class="app-name">
            {{ (appInstallation.appType == 'MESSENGER' ? 'MODULE.ACCOUNT.PUSH_DEVICES.NAME.MESSENGER' :
            'MODULE.ACCOUNT.PUSH_DEVICES.NAME.COYO') | translate}}
          </td>
          <td></td>
          <td></td>
          <td class="column-active-label">
            <coyo-active-label ng-model="appInstallation.active"></coyo-active-label>
          </td>
          <td class="column-options">
            <coyo-context-menu align-right="true" coyo-global-permissions="MANAGE_USER">
              <li><a ng-click="vm.togglePushAppInstallationStatus(appInstallation)">
                <i class="zmdi zmdi-hc-fw" ng-class="{
                      'zmdi-pause': appInstallation.active,
                      'zmdi-play': !appInstallation.active }"></i>
                {{ appInstallation.active ? 'MODULE.ACCOUNT.PUSH_DEVICES.TOOLTIP.TOGGLE_INACTIVE' :
                'MODULE.ACCOUNT.PUSH_DEVICES.TOOLTIP.TOGGLE_ACTIVE' | translate }}
              </a></li>
              <li><a ng-click="vm.removePushAppInstallation(appInstallation)">
                <i class="zmdi zmdi-hc-fw zmdi-delete"></i>
                {{:: 'MODULE.ACCOUNT.PUSH_DEVICES.TOOLTIP.REMOVE' | translate }}
              </a></li>
            </coyo-context-menu>
          </td>
        </tr>
        <tr ng-repeat-end></tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="visible-xs visible-sm">
    <div class="nav-item">
      <coyo-mobile-menu-item on-click="vm.openChangeNameModal()"
                             icon="'zmdi zmdi-account'"
                             label-text="MODULE.ACCOUNT.DISPLAYNAME"
                             preview-value="{{ vm.data.account.displayName }}">
      </coyo-mobile-menu-item>

      <coyo-mobile-menu-item on-click="vm.openLanguageModal()"
                             icon="'zmdi zmdi-globe'"
                             label-text="MODULE.ACCOUNT.LANGUAGE"
                             preview-value="{{ 'LANGUAGE.LANGUAGES.' + vm.data.account.language | translate}}">
      </coyo-mobile-menu-item>

      <coyo-mobile-menu-item on-click="vm.openTimeZoneModal()"
                             icon="'zmdi zmdi-pin'"
                             label-text="MODULE.ACCOUNT.TIMEZONE"
                             preview-value="{{ 'TIMEZONES.LOCATIONS.' + vm.data.account.timezone | translateTimezone | translate}}">
      </coyo-mobile-menu-item>

      <coyo-mobile-menu-item on-click="vm.openChangeEmailAddressModal()"
                             icon="'zmdi zmdi-email'"
                             label-text="MODULE.ACCOUNT.EMAIL"
                             preview-value="{{ vm.data.account.email }}">
      </coyo-mobile-menu-item>

      <coyo-mobile-menu-item ng-if="!vm.data.account.remoteUser"
                             on-click="vm.openChangePasswordModal()"
                             icon="'zmdi zmdi-key'"
                             label-text="MODULE.ACCOUNT.PASSWORD"
                             preview-value="••••••••">
      </coyo-mobile-menu-item>

      <coyo-mobile-menu-item on-click="vm.openPushDevicesModal()"
                             icon="'zmdi zmdi-smartphone-iphone'"
                             label-text="MODULE.ACCOUNT.PUSH_DEVICES.HEADER"
                             preview-value="{{ vm.data.devices.length }}">
      </coyo-mobile-menu-item>

      <coyo-mobile-menu-item ng-if="vm.integrationSettingsPanelVisible"
                             on-click="vm.openUserIntegrationSettingsModal()"
                             icon="'zmdi zmdi-google'"
                             label-text="MODULE.ACCOUNT.SETTINGS.INTEGRATION.HEADLINE"
                             preview-value="">
      </coyo-mobile-menu-item>

      <!-- Not yet implemented: Delete user account -->
      <!--<coyo-mobile-menu-item class="account-delete"
                            icon="'zmdi zmdi-delete'"
                            label-text="MODULE.ACCOUNT.DELETE"
                            coyo-global-permissions="MANAGE_USER">
      </coyo-mobile-menu-item>-->
    </div>
  </section>
</div>
