<div [formGroup]="parentForm">
  <div class="form-group" ng-class="{'has-error': parentForm.welcomeText.$invalid}">
    <label class="col-sm-4 control-label" translate="WIDGET.WELCOME.SETTINGS.TEXT.LABEL"></label>
    <div class="col-sm-7">
      <input class="form-control" type="text" name="welcomeText" id="welcomeText" formControlName="welcomeText">
    </div>
    <div class="col-sm-1 hidden-xs">
      <coyo-help tip="WIDGET.WELCOME.SETTINGS.TEXT.HELP"></coyo-help>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" translate="WIDGET.WELCOME.SETTINGS.SHOW_COVER.LABEL"></label>
    <div class="col-sm-7">
      <coyo-checkbox id="showCover-checkbox" name="_showCover" formControlName="_showCover"
                     [ngModel]="widget.settings._showCover"></coyo-checkbox>
    </div>
    <div class="col-sm-1 hidden-xs">
      <coyo-help tip="WIDGET.WELCOME.SETTINGS.SHOW_COVER.HELP"></coyo-help>
    </div>
  </div>
</div>
