.admin-license {
  @media screen and (max-width: $screen-xs-max) {
    .usage-info {
      padding-right: 7px;
      text-align: right;
    }

    usage-info {
      padding: 0;

      .usage-info {
        margin: -20px 0 0;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .coyo-progressbar {
      padding: 5px 7px;
    }

    .form-group.license-usage {
      margin-bottom: 0;
    }
  }

  @media print, screen and (min-width: $screen-sm-min) {
    .form-text {
      display: inline-block;
      padding-top: 8px;
    }

    .coyo-progressbar {
      margin-top: 7px;
    }

    .usage-info {
      margin-top: 6px;
    }
  }

  .state {
    &.valid {
      color: $color-green;
    }

    &.warn {
      color: $color-yellow;
    }

    &.invalid {
      color: #b70218;
    }
  }

  .form-group:last-child {
    margin-bottom: 16px;
  }
}
