.blog-widget {

  .blog-widget-article {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    @media screen and (max-width: $screen-sm-min) {
      display: block;
    }

    .blog-teaser-image-wrapper {
      align-items: center;
      justify-content: center;
      display: flex;
      flex: 0 0 160px;
      border-radius: 5px;
      margin-right: 12px;
      margin-bottom: 4px;
      max-width: 100%;
      width: 160px;
      max-height: 53px;
      overflow: hidden;
      @media screen and (max-width: $screen-sm-min) {
        height: 100%;
        max-width: 320px;
        max-height: 106px;
        width: 100%;
      }
      .blog-teaser-image {
        @media screen and (max-width: $screen-sm-min) {
          height: 100%;
          width: 100%;
        }
        img {
          border-radius: 5px;
          height: 100%;
          width: 100%;
        }
      }

      .blog-widget-icon {
        height: 53px;
        text-align: center;
        width: inherit;
        @media screen and (max-width: $screen-sm-min) {
          height: 106px;
          display: none !important;
        }
        i {
          color: $color-gray-darker;
          font-size: 24px;
          position: relative;
          top: 14px;
          @media screen and (max-width: $screen-sm-min) {
            top: 30px;
          }
        }
        &.no-teaser-image {
          background-color: $color-gray-light;
          border-radius: inherit;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .blog-widget-info {
      @include hyphenate-break();
    }
  }
}

.widget-layout-row-slot-wrapper.col-md-3,
.widget-layout-row-slot-wrapper.col-md-4,
.widget-slot-sidebar {
  .blog-widget {
    .blog-widget-article {
      flex-wrap: wrap;
      @media screen and (max-width: $screen-sm-max) {
        flex-wrap: nowrap;
      }
      .blog-teaser-image-wrapper {
        height: 100%;
        margin-right: 0;
        width: 100%;
        flex: 1 0 160px;
        @media screen and (max-width: $screen-sm-max) {
          flex: 0 0 160px;
          margin-right: 12px;
        }
        .blog-widget-icon {
          @media print, screen and (min-width: $screen-md-min) {
            display: none !important;
          }
          .blog-teaser-image {
            height: 100%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

}


