@import "variables";
@import "mixins";

.tooltip {
  &.tooltip-top,
  &.tooltip-bottom {
    margin-left: 5px;
  }

  &.tooltip-left,
  &.tooltip-right {
    margin-top: 5px;
  }

  &:not(.help) {
    @include sm-and-down() {
      display: none !important;
    }
  }
}

.tooltip-inner {
  @include break-word();
}
