<nav class="navbar navbar-fixed-top navbar-main hidden-md hidden-lg">
  <div class="navbar-wrapper">
    <ul class="nav nav-left" role="navigation" aria-label="{{::'NAVIGATION.LEFT.ARIA' | translate}}">
      <li class="nav-item nav-item-icon hidden-md hidden-lg">
        <a href ng-click="$ctrl.openMenu()"><i class="zmdi zmdi-hc-fw zmdi-menu"></i></a>
      </li>
    </ul>
    <div class="nav-search"></div>
    <ul class="nav nav-right" role="navigation" aria-label="{{::'NAVIGATION.RIGHT.ARIA' | translate}}">
      <li class="nav-item nav-item-icon">
        <a href ui-sref="main"><i class="zmdi zmdi-hc-fw zmdi-close-circle-o"></i></a>
      </li>
    </ul>
  </div>
</nav>
