@import "variables";

$skeleton-single-timeline-item-height: 280px;     // height of a single timeline item skeleton
$skeleton-timeline-item-container-height: 1960px; // should be multiple of $skeleton-single-timeline-item-height, e.g. with 285px then 1710px would render six skeletons

.container {
  width: calc(100%);
  padding: 20px;

  height: $skeleton-timeline-item-container-height;
  background-repeat: repeat-y;

  background-image:
    linear-gradient($color-white 155px, transparent 0 ),
    linear-gradient($n35 1px, transparent 0 ),
    linear-gradient($color-white 59px, transparent 0 ),
    linear-gradient($n35 40px, transparent 0 );

  background-size:
    100% $skeleton-single-timeline-item-height,
    100% $skeleton-single-timeline-item-height,
    100% $skeleton-single-timeline-item-height,
    97.5% $skeleton-single-timeline-item-height;

  background-position:
    0 0,
    0 155px,
    0 156px,
    50% 215px;
}

.container div.single {
 background-repeat: no-repeat;
}

.container div {
  padding: 20px;

  height: $skeleton-timeline-item-container-height;
  background-repeat: repeat-y;

  margin: auto;
  width: 100%;

  background-image:
    radial-gradient(circle 25px at 25px 25px, $n35 99%, transparent 0 ), /* avatar */
    linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%),  /* highlight */
    linear-gradient($n35 20px, transparent 0 ),
    linear-gradient($n35 15px, transparent 0 ),
    linear-gradient($n35 20px, transparent 0 ),
    linear-gradient($n35 20px, transparent 0 ),
    linear-gradient($n35 20px, transparent 0 ),
    linear-gradient($n35 20px, transparent 0 ),
    linear-gradient($n35 20px, transparent 0 );

  background-size:
    50px $skeleton-single-timeline-item-height, /* avatar */
    50px calc(#{$skeleton-single-timeline-item-height} - 50px), /* highlight */
    25% $skeleton-single-timeline-item-height,
    15% $skeleton-single-timeline-item-height,
    100% $skeleton-single-timeline-item-height,
    95% $skeleton-single-timeline-item-height,
    10% $skeleton-single-timeline-item-height,
    20% $skeleton-single-timeline-item-height,
    20% $skeleton-single-timeline-item-height;

  background-position:
    0 0, /* avatar */
    0 0, /* highlight */
    75px 5px,
    75px 30px,
    0 70px,
    0 95px,
    0 155px,
    15% 155px,
    100% 155px;

  animation: shine-single-timeline-item 1.25s infinite;
}

div.single {
  height: $skeleton-single-timeline-item-height;
  background-repeat: no-repeat;
}

div {
  height: $skeleton-timeline-item-container-height;
  background-repeat: repeat-y;
}

@keyframes shine-single-timeline-item {
  to {
    background-position:
      0 0,
      100% 0, /* move highlight to right */
      75px 5px,
      75px 30px,
      0 70px,
      0 95px,
      0 155px,
      15% 155px,
      100% 155px;
  }
}
