<ng-container *ngIf="isGoogleActive$ | async">
  <ng-container class="g-suite-file-link" *ngIf="externalFileDetails$ | async; let externalFileDetails; else loading">
    <a *ngIf="externalFileDetails.externalUrl" [href]="externalFileDetails.externalUrl" target="_blank"
       aria-label="'FILE_DETAILS.OPEN_IN_G_SUITE.ARIA' | translate}}">
      <span class="g-suite-icon pr-xxxs"><i class="zmdi zmdi-google"></i></span>
      <span *ngIf="!externalFileDetails.canEdit" translate="FILE_DETAILS.OPEN_IN_G_SUITE"></span>
      <span *ngIf="externalFileDetails.canEdit" translate="FILE_DETAILS.EDIT_IN_G_SUITE"></span>
    </a>
  </ng-container>
  <ng-template #loading>
    <!--  TODO use coyo-spinner directive and set display: flex for .coyo-spinner (spinner.scss)-->
    <i class="spinner zmdi zmdi-spinner zmdi-hc-spin"></i>
  </ng-template>
</ng-container>
