<a href="" class="list-subscribe" coyo-global-permissions="FOLLOW_PAGE" ng-click="$ctrl.toggle($event)" data-test="button-subscribe">
  <i class="zmdi zmdi-hc-fw" ng-class="{ 'zmdi-notifications-active': !$ctrl.loading && $ctrl.subscribed,
                                         'zmdi-notifications-none': !$ctrl.loading && !$ctrl.subscribed,
                                         'zmdi-spinner zmdi-hc-spin': $ctrl.loading }">
  </i> <span>{{$ctrl.subscribed ? 'PAGE.SUBSCRIBED' : 'PAGE.SUBSCRIBE' | translate }}</span>
</a>
