<div #inputParent class="flex single-blog-article-widget-settings" id="article-widget-settings">
    <div class="row">
      <label class="col-sm-3 control-label" for="articleId"
             translate="WIDGETS.BLOGARTICLE.SETTINGS.BLOG_ARTICLE"></label>
      <div class="col-sm-8">
        <ng-select id="articleId"
                   class="articles"
                   [items]="articles"
                   [virtualScroll]="true"
                   [loading]="loading"
                   bindLabel="title"
                   bindValue="term"
                   placeholder="{{widget.article ? widget.article.title : 'WIDGETS.BLOGARTICLE.NOTHING.SELECTED' | translate}}"
                   appendTo="body"
                   (open)="onOpen()"
                   (blur)="clear()"
                   (close)="clear()"
                   (clear)="clear()"
                   (search)="search($event)"
                   (change)="updateArticle($event)"
                   (scroll)="onScroll($event)"
                   (scrollToEnd)="onScrollToEnd()">
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <span [ngOptionHighlight]="term">{{item.title}}</span> <br/>
            &nbsp;<small>{{item.appName}}</small>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-1">
        <coyo-help tip="WIDGETS.BLOGARTICLE.SETTINGS.BLOG_ARTICLE.HELP"></coyo-help>
      </div>
    </div>
</div>
