li.language-option > a:hover {
  border-left: 3px solid #317DC1;
}

.language-switch-dropdown {
  right: 0px;
  left: auto;
}

.language-switch-menu {
  padding-right: 15px;
  &:hover {
    cursor: pointer;
  }
  li.context-menu-title {
    text-align: center;
    color: $color-gray-dark;
  }
}
