<div class="launchpad-header-title">
  <span translate="LAUNCHPAD.HEADLINE"></span>
</div>
<button type="button" mat-icon-button *ngIf="canAddLink"
        (click)="addLink.emit()" [attr.aria-label]="'LAUNCHPAD.CATEGORY.ADD_LINK' | translate">
  <mat-icon svgIcon="outline-bookmark-plus"></mat-icon>
</button>
<button type="button" mat-icon-button class="launchpad-close"
        (click)="close.emit()" [attr.aria-label]="'CLOSE' | translate">
  <mat-icon svgIcon="close"></mat-icon>
</button>
