<li ng-if="$ctrl.jobStatus.state === 'RUNNING'">
    <a ng-click="$ctrl.stopJobExecution()">
        <i class="zmdi zmdi-hc-fw zmdi-stop"></i>&nbsp;<span translate="ADMIN.JOBS.DETAILS.STOP_MANUALLY"></span>
    </a>
</li>
