@import "variables";
@import "mixins";

:host {
  display: block;
  background-color: $n0;
  border-bottom: 1px solid $n50;

  @include sm-and-up() {
    margin: 0 8px;
    border-radius: 0 0 5px 5px;
  }
}

:host-context(.modal) {
    margin: 0;
    border-radius: 0;
}

coyo-comment, .load-more {
  border-top: 1px solid $n50;
}

.comments-new-divider + coyo-comment {
  border-top: none;
}

.load-more {
  display: flex;
  padding: 4px 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: $n200;
}

.load-more-btn {
  font-size: 14px;
  margin-left: -8px;
}

.comments-new-divider {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
  margin-top: -11px;

  .line {
    border-bottom: 1px solid $n50;
    height: 1px;
    flex: 1;
  }

  .text {
    color: $n200;
    padding: 0 16px;
    text-transform: uppercase;
  }
}

coyo-comment-form {
  display: block;
  border-top: 1px solid $n50;
}
