.license-warning-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: $color-white;
  background-color: $color-red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1021;

  @media print, screen and (min-width: $screen-lg-min) {
    &:not(.admin) {
      padding-right: $size-sidebar-messaging-static;
    }

    &.compact {
      padding-right: $size-sidebar-messaging-compact;
    }
  }

  .zmdi-help {
    font-size: 20px;
    padding-left: 10px;
  }
}
