<form name="settingsForm" class="form-horizontal" coyo-form-submit="$ctrl.save()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" translate="ADMIN.SECURITY.BRUTE_FORCE"></h3>
    </div>
    <div class="panel-body">

      <!-- Brute force protection -->
      <div class="form-group">
        <label for="bruteForceActive"
               class="col-sm-3 control-label"
               translate="ADMIN.SECURITY.BRUTE_FORCE.ACTIVE.LABEL"></label>
        <div class="col-sm-8">
          <coyo-checkbox id="bruteForceActive" name="bruteForceActive" true-value="'true'" false-value="'false'"
                        ng-model="$ctrl.settings.bruteForceActive"></coyo-checkbox>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SECURITY.BRUTE_FORCE.ACTIVE.HELP"></coyo-help>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.settings.bruteForceActive === 'true'">
        <label for="bruteForceMaxTries"
               class="col-sm-3 control-label"
               translate="ADMIN.SECURITY.BRUTE_FORCE.MAX_TRIES.LABEL"></label>
        <div class="col-sm-8">
          <input id="bruteForceMaxTries" name="bruteForceMaxTries" coyo-int2-str
                 ng-model="$ctrl.settings.bruteForceMaxTries" type="number" class="form-control" ng-pattern="/^[1-9][0-9]*$/" min="1" max="9999" required>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SECURITY.BRUTE_FORCE.MAX_TRIES.HELP"></coyo-help>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.settings.bruteForceActive === 'true'">
        <label for="bruteForceRememberDuration"
               class="col-sm-3 control-label"
               translate="ADMIN.SECURITY.BRUTE_FORCE.REMEMBER_DURATION.LABEL"></label>
        <div class="col-sm-8">
            <div class="duration-form-group">
              <input name="bruteForceRememberDuration" id="bruteForceRememberDuration" coyo-int2-str ng-model="$ctrl.settings.bruteForceRememberDuration" type="number" class="form-control duration-input"
                     min="0" max="9999" ng-pattern="/^[0-9]+$/">
              <label translate="ADMIN.SECURITY.BRUTE_FORCE.MINUTES"></label>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SECURITY.BRUTE_FORCE.REMEMBER_DURATION.HELP"></coyo-help>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.settings.bruteForceActive === 'true'">
        <label for="bruteForceBlockDuration"
               class="col-sm-3 control-label"
               translate="ADMIN.SECURITY.BRUTE_FORCE.BLOCK_DURATION.LABEL"></label>
        <div class="col-sm-8">
              <div class="duration-form-group">
                <input name="bruteForceBlockDuration" id="bruteForceBlockDuration" coyo-int2-str ng-model="$ctrl.settings.bruteForceBlockDuration" type="number" class="form-control duration-input"
                       min="0" max="9999" ng-pattern="/^[0-9]+$/">
                <label translate="ADMIN.SECURITY.BRUTE_FORCE.MINUTES"></label>
              </div>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.SECURITY.BRUTE_FORCE.BLOCK_DURATION.HELP"></coyo-help>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-actions">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3">
          <coyo-form-submit-button label="SAVE" form-ctrl="settingsForm"></coyo-form-submit-button>
        </div>
      </div>
    </div>
  </div>
</form>
<coyo-filterbox>
  <fb-search>
    <coyo-search-filter change="$ctrl.filter.displayName.changed"
                        placeholder="ADMIN.USER_MGMT.USERS.SEARCH"
                        search-term="{{$ctrl.page._queryParams.displayName}}"></coyo-search-filter>
  </fb-search>
  <fb-count>
    <coyo-counter value="$ctrl.page.totalElements"
                  key-none="ADMIN.USER_MGMT.USERS.USERS_NONE"
                  key-singular="ADMIN.USER_MGMT.USERS.USERS_SINGULAR"
                  key-plural="ADMIN.USER_MGMT.USERS.USERS_PLURAL"></coyo-counter>
  </fb-count>
</coyo-filterbox>
<div class="panel panel-default panel-users panel-list">
  <div class="panel-body">

    <!-- mobile view -->
    <ul ng-if="$ctrl.mobile" class="list-group"
        ng-class="{'list-unstyled': !$ctrl.page.content.length > 0 && !vm.firstLoad}"
        coyo-infinite-scroll="$ctrl.nextPage()"
        coyo-infinite-scroll-element="$window">
      <li ng-if="!$ctrl.page.content.length > 0 && !vm.firstLoad"
          class="text-center text-muted pv-s"
          translate="ADMIN.USER_MGMT.USERS.EMPTY"></li>
      <li class="list-group-item"
          ng-repeat="row in $ctrl.page.content track by row.id"
          id="user-row-{{$index}}">
        <div class="row">
          <div class="col-xs-8">
            <div>
              {{row.displayName}}
            </div>
            <div class="text-muted">{{row.email}}</div>
          </div>
          <div class="col-xs-4 text-right">
            <span ng-if="row.blockedUntil">
              {{row.blockedUntil | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short}}
            </span>
            <span ng-if="!row.blockedUntil" translate="ADMIN.SECURITY.BRUTE_FORCE.PERMANENT"></span>
          </div>
        </div>
      </li>
    </ul>
    <coyo-context-menu ng-if="$ctrl.mobile"
                       ng-repeat="row in $ctrl.page.content track by row.id"
                       toggle-element="#user-row-{{$index}}"
                       title="{{row.displayName}}">
      <li>
        <a href ng-click="$ctrl.actions.unblockUser(row)">
          <i class="zmdi zmdi-hc-fw zmdi-lock-open"></i>&nbsp;<span translate="ADMIN.SECURITY.BRUTE_FORCE.ACTIONS.UNBLOCK"></span>
        </a>
      </li>
      <li>
        <a href="{{'/profile/' + row.slug + '/info'}}">
          <i class="zmdi zmdi-hc-fw zmdi-forward"></i>&nbsp;<span translate="ADMIN.SECURITY.BRUTE_FORCE.ACTIONS.SHOW_PROFILE"></span>
        </a>
      </li>
    </coyo-context-menu>
    <div ng-hide="$ctrl.firstLoad">
      <!-- desktop view -->
      <table class="table table-striped table-hover" ng-if="!$ctrl.mobile">
        <thead>
        <tr>
          <th coyo-table-sorting page="$ctrl.page" property="displayName.sort" title="{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.DISPLAY_NAME' | translate }}"></th>
          <th coyo-table-sorting page="$ctrl.page" property="email" title="{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.EMAIL' | translate }}"></th>
          <th coyo-table-sorting page="$ctrl.page" property="blockedUntil" title="{{:: 'ADMIN.SECURITY.BRUTE_FORCE.HEADINGS.BLOCKED_UNTIL' | translate }}"></thcoyo-table-sorting></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="$ctrl.page.content.length > 0 || $ctrl.firstLoad">
          <td colspan="7" class="text-center text-muted" translate="ADMIN.USER_MGMT.USERS.EMPTY"></td>
        </tr>
        <tr ng-repeat="row in $ctrl.page.content track by row.id" ng-class="{'animate-removal': $ctrl.userAction }">
          <td>
                <span>{{row.displayName}}</span>
          </td>
          <td class="break-all">{{row.email}}</td>
          <td class="break-all">
            <span ng-if="row.blockedUntil">
              {{row.blockedUntil | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short}}
            </span>
            <span  ng-if="!row.blockedUntil" translate="ADMIN.SECURITY.BRUTE_FORCE.PERMANENT"></span>
          </td>
          <td class="column-options">
            <coyo-context-menu align-right="true">
              <li>
                <a href ng-click="$ctrl.actions.unblockUser(row)">
                  <i class="zmdi zmdi-hc-fw zmdi-lock-open"></i>&nbsp;<span translate="ADMIN.SECURITY.BRUTE_FORCE.ACTIONS.UNBLOCK"></span>
                </a>
              </li>
              <li>
                <a href="{{'/profile/' + row.slug + '/info'}}">
                  <i class="zmdi zmdi-hc-fw zmdi-forward"></i>&nbsp;<span translate="ADMIN.SECURITY.BRUTE_FORCE.ACTIONS.SHOW_PROFILE"></span>
                </a>
              </li>
            </coyo-context-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <coyo-table-pagination page="$ctrl.page" class="hidden-xs hidden-sm"></coyo-table-pagination>
  </div>
</div>
