<section class="event-create">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" translate="MODULE.EVENTS.CREATE.TITLE"></h3>
    </div>

    <!-- Step 1 -->
    <div ng-show="$ctrl.wizard.active == 0">
      <coyo-event-create (form-result)="$ctrl.addGeneralFormData($event)" [initial-sender]="$ctrl.host"></coyo-event-create>
    </div>

      <!-- Step 4 -->
    <form name="$ctrl.eventsForm2" class="form-horizontal" coyo-form-submit="$ctrl.next($ctrl.eventsForm2)" ng-show="$ctrl.wizard.active == 1">
      <div class="panel-body">
        <!-- invite people -->
        <div class="form-group">
          <label class="col-sm-2 control-label" translate="EVENT.MEMBER_GROUP.LABEL"></label>
          <div class="col-sm-9">
            <coyo-user-chooser name="invited-people" id="invited-people" ng-model="$ctrl.event"
                               users-field="memberIds"
                               users-only="::!$ctrl.canInviteGroups"
                               groups-field="memberGroupIds"></coyo-user-chooser>
          </div>
          <div class="col-sm-1 hidden-xs">
            <coyo-help tip="EVENT.MEMBER_GROUP.HELP"></coyo-help>
          </div>
        </div>
      </div>
      <div class="panel-footer panel-actions">
        <div class="row">
          <div class="col-sm-10 col-sm-push-2">
            <a ng-click="$ctrl.back()" class="btn btn-default">
              <i class="zmdi zmdi-hc-fw zmdi-arrow-left"></i>&nbsp;{{:: 'BACK' | translate }}
            </a><!--
         --><coyo-form-submit-button label="CREATE" form-ctrl="$ctrl.eventsForm2"
                                     data-test="button-event-create-event"></coyo-form-submit-button>
          </div>
        </div>
      </div>
      <div class="alert alert-warning m-s text-center" translate="MODULE.EVENTS.INVITATIONS.WARNING"></div>
    </form>
  </div>
</section>
