<div class="launchpad-apps" *ngIf="visibleApps$ | async; let visibleApps">
    <div class="app-row" *ngFor="let apps of visibleApps.apps">
      <div *ngFor="let app of apps" [style.width]="getWidthPercentage(visibleApps.columns)">
        <a *ngIf="app" [attr.href]="app.url" class="launchpad-app" target="_blank">
          <coyo-icon [name]="app.icon"></coyo-icon>
          <span>{{app.name}}</span>
        </a>
      </div>
    </div>
</div>
<button mat-button mat-link-button type="button" size="small" class="btn-show-all" (click)="showExtended.next(!showExtended.getValue())">
   <span *ngIf="!(showExtended | async)" translate="LAUNCHPAD.MANAGE.SHOW_ALL"></span>
   <span *ngIf="showExtended | async" translate="LAUNCHPAD.MANAGE.SHOW_LESS"></span>
   <mat-icon svgIcon="chevron-down" size="small" class="right" [class.extended]="showExtended | async"></mat-icon>
</button>
