<form [formGroup]="widgetForm" class="form-horizontal" name="widgetForm">
  <div class="modal-header">
    <h3 class="modal-title">{{'WIDGETS.SETTINGS.TITLE' | translate}}</h3>
    <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="modal.hide()" [attr.aria-label]="'CLOSE' | translate">
      <i class="zmdi zmdi-close" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body" *ngIf="config">
    <coyo-widget-settings-container *ngIf="!config.legacy" [widget]="widget" [component]="config.settings.component" [parentForm]="widgetForm" [onSubmit]="onSubmitSubject"></coyo-widget-settings-container>
    <coyo-ng1-widget-settings *ngIf="config.legacy" [config]="config" [(widget)]="widget" (legacyFormSet)="onLegacyFormSet($event)" [saveCallbacks]="callbacks"></coyo-ng1-widget-settings>
  </div>

  <div class="modal-footer" *ngIf="config">
    <button type="submit" class="btn btn-primary" (click)="submit(widgetForm.value)" [disabled]="widgetForm.invalid || ng1WidgetForm?.$invalid">
      <i class="zmdi zmdi-hc-fw zmdi-check"></i>&nbsp;{{'SAVE' | translate}}
    </button>
  </div>
</form>
