@import "variables";

textarea {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: $color-white;
  padding: 8px 12px;
  resize: none;
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.message-form-actions {
  display: flex;
  padding: 0 4px;

  .submit-btn {
    margin-left: auto;
  }
}

:host {
  background-color: $color-black;
}
