@import "mixins";

.mat-icon-button {
  position: absolute;
  top: 8px;
  right: 16px;
}

// only show context menu on hover in an a11y-compliant way
:host-context(html:not(.touchevents) coyo-comment:not(:hover)) {
  .mat-icon-button:not(.cdk-keyboard-focused):not(.cdk-program-focused):not([aria-expanded=true]) {
    @include visually-hidden();
  }
}

.empty {
  display: block;
  padding: 7px 14px;
  color: $n200;
  text-align: center;

  @include xs() {
    color: $n50;
  }
}
