<div class=form-group>
    <label class="col-sm-2 control-label" translate="WIDGETS.LATESTFILES.SETTINGS.DOCUMENTAPP.LABEL"></label>
    <div class="col-sm-9">
        <coyo-select-documents-app ng-model="model.settings._app" required></coyo-select-documents-app>
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="WIDGETS.LATESTFILES.SETTINGS.DOCUMENTAPP.HELP"></coyo-help>
    </div>
</div>
<div class="form-group" ng-class="{'has-error': settingsForm.fileCount.$invalid}">
    <label class="col-sm-2 control-label" translate="WIDGETS.LATESTFILES.SETTINGS.FILE_COUNT.LABEL"></label>
    <div class="col-sm-9">
        <input name="fileCount" class="form-control" type="number" min="1" max="20" ng-model="model.settings._fileCount" required>
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="WIDGETS.LATESTFILES.SETTINGS.FILE_COUNT.HELP"></coyo-help>
    </div>
</div>