<form class="form-horizontal" role="form"
  [attr.aria-label]="'MODULE.TIMELINE.FORM.ARIA' | translate"
  [formGroup]="eventSettingsForm"
  (ngSubmit)="submitForm()"
  *ngIf="event$ | async as event; else loading">
  <div class="panel-body">
    <div class="group">
      <div class="form-group">
        <div class="col-md-12">
          <label for="name" translate="EVENT.TITLE.LABEL"></label>
          <input id="name" class="form-control" type="text" name="name" formControlName="name">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="slug" translate="EVENT.SLUG.LABEL"></label>
          <div class="input-group">
            <div class="input-group-addon">{{slugPrefixEvents}}</div>
            <input id="slug" class="form-control" type="text" name="slug" formControlName="slug">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <label for="location" translate="EVENT.PLACE.LABEL"></label>
          <input id="location" class="form-control" type="text" name="location" formControlName="location">
        </div>
      </div>
    </div>

    <div class="group">
      <div class="form-group group">
        <div class="col-md-12">
          <mat-checkbox id="fullDay"
                        name="fullDay"
                        formControlName="fullDay">{{'EVENT.FULL_DAY.LABEL' | translate}}
          </mat-checkbox>
        </div>
        <div class="input-group-date-picker col-md-6 col-xs-12">
          <label for="eventStartDate" translate="EVENT.DATE_START.LABEL"></label>
          <div class="input-group" [ngClass]="{'full-day': eventSettingsForm.get('fullDay').value === true}">
            <coyo-date-picker id="eventStartDate" class="date"
                              [(date)]="eventDates.startDate" (dateChange)="updateStartDate()">
            </coyo-date-picker>
            <coyo-time-picker id="eventStartTime" class="time"
                              [(time)]="eventDates.startTime" (timeChange)="updateStartTime()">
            </coyo-time-picker>
          </div>
        </div>
        <div class="input-group-date-picker col-md-6 col-xs-12">
          <label for="eventEndDate" translate="EVENT.DATE_END.LABEL"></label>
          <div class="input-group" [ngClass]="{'full-day': eventSettingsForm.get('fullDay').value === true}">
            <coyo-date-picker id="eventEndDate" class="date"
                              [(date)]="eventDates.endDate" (dateChange)="updateEndDate()">
            </coyo-date-picker>
            <coyo-time-picker id="eventEndTime" class="time"
                              [(time)]="eventDates.endTime" (timeChange)="updateEndTime()">
            </coyo-time-picker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <label for="description" translate="EVENT.DESCRIPTION.LABEL"></label>
        <coyo-rte id="description"
                  [content]="event.description"
                  [optionOverrides]="eventDescriptionRteOptions"
                  (contentUpdated)="descriptionChanges($event)">
        </coyo-rte>
      </div>
    </div>
  </div>
  <div class="form-group group advanced-settings">
    <div class="col-md-12">
      <label translate="MODULE.EVENTS.CREATE.ADVANCED_SETTINGS"></label>
    </div>
    <div class="col-md-12">
      <mat-checkbox id="showParticipants"
                    name="showParticipants"
                    formControlName="showParticipants">{{'EVENT.SHOW_PARTICIPANTS.LABEL' | translate}}</mat-checkbox>
      <p class="text-muted checkbox-hint" translate="EVENT.SHOW_PARTICIPANTS.HELP"></p>
    </div>
    <div class="col-md-12">
      <mat-checkbox id="requestDefiniteAnswer"
                    name="requestDefiniteAnswer"
                    formControlName="requestDefiniteAnswer">{{'EVENT.DEFINITE_ANSWERS.LABEL' | translate}}</mat-checkbox>
      <p class="text-muted checkbox-hint" translate="EVENT.DEFINITE_ANSWERS.HELP"></p>
    </div>
    <div class="col-md-12">
      <mat-checkbox id="limitedParticipantsFlag"
                    name="limitedParticipantsFlag"
                    formControlName="limitedParticipantsFlag">{{'EVENT.LIMITED_PARTICIPANTS.LABEL' | translate}}</mat-checkbox>
      <p class="text-muted checkbox-hint" translate="EVENT.LIMITED_PARTICIPANTS.HELP"></p>
      <span formGroupName="limitedParticipants">
        <input id="participantsLimit" class="form-control participant-count" type="number" name="participantsLimit"
               formControlName="participantsLimit" [min]="0"
               *ngIf="eventSettingsForm.get('limitedParticipantsFlag').value">
      </span>
    </div>
  </div>
</form>
<ng-template #loading>
  <div class="loading-container">
    <div class="coyo-spinner lg" [title]="'MODULE.EVENTS.LOADING' | translate">...</div>
  </div>
</ng-template>
