<button type="submit" data-test="submit" class="btn btn-primary" ng-disabled="disabled || formCtrl.loading || formCtrl.$invalid"
        aria-disabled="{{disabled || formCtrl.loading || formCtrl.$invalid}}">
  <span ng-class="::{'hidden-xs': hideIconOnMobile}" ng-if="icon !== 'false'" aria-hidden="true">
    <i class="zmdi zmdi-hc-fw {{ formCtrl.loading ? 'zmdi-hc-spin zmdi-spinner' : (icon || 'zmdi-check') }}"
       aria-hidden="true"></i>
  </span>
  <span ng-class="::{'hidden-xs': hideTextOnMobile}">&nbsp;{{::label | translate}}</span>
</button>
