@import "variables";
@import "mixins";

/**
 *  SINGLE BLOG ARTICLE WIDGET
 */

$skeleton-widget-single-blog-article-height: 140px;            // height of the widget single-blog-article skeleton

div {
  width: 100%;
  height: $skeleton-widget-single-blog-article-height;

  background-image:
          linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%),  /* highlight */
          linear-gradient( $gray-lighter 15px, transparent 0 ),
          linear-gradient( $gray-lighter 15px, transparent 0 ),
          linear-gradient( $gray-lighter 20px, transparent 0 ),
          linear-gradient( $gray-lighter 15px, transparent 0 ),
          linear-gradient( $gray-lighter 15px, transparent 0 ),
          linear-gradient( $gray-lighter 15px, transparent 0 );


  background-repeat: no-repeat;

  background-size:
          50px $skeleton-widget-single-blog-article-height, /* highlight */
          20% $skeleton-widget-single-blog-article-height,
          75px $skeleton-widget-single-blog-article-height,
          35% $skeleton-widget-single-blog-article-height,
          100% $skeleton-widget-single-blog-article-height,
          95% $skeleton-widget-single-blog-article-height,
          75px $skeleton-widget-single-blog-article-height;

  background-position:
          0 0, /* highlight */
          0px 0,
          100% 0,
          0px 30px,
          0px 70px,
          0px 95px,
          0px 125px;

  animation: shine-widget-single-blog-article-ng 1.25s infinite;
}

@keyframes shine-widget-single-blog-article-ng {
  to {
    background-position:
            100% 0, /* move highlight to right */
            0px 0,
            100% 0,
            0px 30px,
            0px 70px,
            0px 95px,
            0px 125px;
  }
}
