@import "variables";
@import "../../../src/main/styles/mixins";
@import "components/mixins/buttons";
@import "components/mixins/icons";
@import "components/mixins/widgets";

// You can add your mixins here

@mixin no-select() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// see: https://a11yproject.com/posts/how-to-hide-content/
// TODO: we might be able to replace this with .cdk-visually-hidden from the CDK's a11y package
@mixin visually-hidden() {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
