<coyo-link-preview-list [editMode]="true"
                        [previews]="linkPreviews$ | async"
                        (previewDeleted)="onLinkPreviewDeleted($event)"></coyo-link-preview-list>
<coyo-video-preview-list [editMode]="true"
                         [previews]="videoPreviews$ | async"
                         (previewDeleted)="onVideoPreviewDeleted($event)"></coyo-video-preview-list>
<coyo-spinner *ngIf="loading$ | async"></coyo-spinner>
