<div class="context-menu dropdown dropdown-toggle context-menu-{{::$id}}"
     ng-keydown="$ctrl.onKeyDown($event)" ng-class="{'open': $ctrl.open, 'dropdown-menu-right': $ctrl.alignRight }"
     aria-hidden="{{!$ctrl.open}}">
  <a href ng-if="::!$ctrl.toggleElement" class="pointer context-menu-toggle" ng-click="$ctrl.toggleMenu()">
    <i class="zmdi zmdi-hc-fw zmdi-more-vert" aria-hidden="true"></i>
    <span class="sr-only" translate="OPEN_MENU"></span>
  </a>
  <ul role="menu" aria-orientation="vertical"
      aria-label="{{::$ctrl.titleAria | translate}}"
      ng-show="$ctrl.open" id="context-menu-{{::$id}}"
      class="context-menu-list dropdown-menu"
      ng-class="::{'dropdown-menu-right': $ctrl.alignRight}"
      ng-mousemove="$event.stopPropagation();"
      ng-mousedown="$event.stopPropagation(); $event.preventDefault();"
      click-outside="$ctrl.closeMenu()" outside-if-not="context-menu-{{::$id}}"
      focus-if="$ctrl.open"
      tabindex="{{($ctrl.open) ? 0 : -1}}">
    <li class="context-menu-title" ng-class="::{'visible-xs visible-sm': !$ctrl.titleDesktop}" ng-if="::$ctrl.title"
        aria-hidden="true" tabindex="-1">{{::$ctrl.title | translate}}
    </li>
    <li class="divider" ng-if="::$ctrl.title && $ctrl.titleDesktop" aria-hidden="true"></li>
    <ng-transclude></ng-transclude>
    <li class="context-menu-close visible-xs visible-sm">
      <a href translate="CANCEL" aria-label="{{::'CLOSE.MENU.ARIA' | translate}}"
         ng-click="$ctrl.closeMenu(); $event.stopPropagation()"></a>
    </li>
  </ul>
</div>

