.context-menu {

  &.open > .dropdown-menu {
    overflow-y: auto;

    @media screen and (min-width: $screen-sm-max) {
      max-height: 325px;
    }

    @media screen and (max-width: $screen-sm-max) {
      display: block;
      top: auto;
    }
  }

  .dropdown-menu {
    z-index: 1050;

    @media screen and (max-width: $screen-sm-max) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      border: 0;
      padding: 16px;
      flex-direction: column;
      justify-content: flex-end;

      transition: all .3s;

      &:focus {
        outline: none;
      }

      li {
        background-color: transparent;
        border: 0;
      }

      li.context-menu-close > a {
        background-color: #000;
        margin-top: 12px;
      }

      li.context-menu-title {
        color: $color-white;
        text-align: center;
      }

      li.context-menu-danger > a {
        color: $color-red;
      }

      a {
        padding: 10px 16px;
        font-size: 16px;
        text-align: center;
        color: hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.9);
        background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.9);
        margin-top: 6px;
        border-radius: 5px;
        justify-content: center;

        .zmdi {
          width: auto;
        }
      }
    }

    .context-menu-title {
      @media print, screen and (min-width: $screen-md-min) {
        padding: 8px 16px;
      }
    }

    // copy of the required default bootstrap styles, but allow for an extra element between ul and li needed to configure the options dynamically
    * > li {
      @media print, screen and (min-width: $screen-md-min) {

        &.active {
          background-color: $dropdown-link-hover-bg;
        }

        > a {
          &:hover,
          &:focus {
            background-color: $dropdown-link-hover-bg;
          }

          display: block;
          padding: 8px 16px;
          color: $dropdown-link-color;
          white-space: nowrap;
        }
      }
    }
  }

  &.dropdown {
    @media screen and (max-width: $screen-sm-max) {
      &:before {
        content: '';
        left: 0;
        right: 0;
        background-color: $color-black;
        z-index: 1050;
        opacity: 0;
        pointer-events: none;
        margin-left: -1px;
        margin-right: -1px;
        position: fixed;
        top: 0;
        bottom: 0;
      }

      &.open {
        &:before {
          opacity: 0.75;
          display: block;
          pointer-events: auto;
        }

        .dropdown-menu {
          z-index: 1051;
          max-height: 100%;
        }
      }
    }

    .context-menu-toggle {
      color: $color-gray;

      &:hover {
        color: $color-gray-darker;
      }
    }
  }
}
